<div class="footer-margin"></div>
        <div class="footer-bottom">
            <div class="footer-bottom__content">
                <a href="{% url 'instruction' %}" class="footer-logo-bottom">
                    <p class="">КроссМ</p>
                    <p class="p-mobile-logo p-mobile-instruction">инструкция</p>

                </a>
                <a href="{% url 'offers:catalog' %}" class="footer-item">
                    <img src="../../../static/images/catalog-icon.svg" class="footer-item__img">
                    <p id="CATALOG_MOBILE" class="footer-item__text">каталог</p>
                </a>
                <a href="{% url 'what-is-cm' %}" class="footer-item">
                    <img src="../../../static/images/what-is-icon.svg" class="footer-item__img">
                    <p id="KM_MOBILE" class="footer-item__text">что такое<br>км?</p>
                </a>
                <a href="{% url 'offers:my-offers' %}" class="footer-item">
                    <img src="../../../static/images/my-offers-icon.svg" class="footer-item__img">
                    <p id="OFFERS_MOBILE" class="footer-item__text">предло<br>жения</p>
                </a>
                <a href="#" class="footer-item">
                    <img style="margin-bottom: 2px; margin-top: -2px; border-radius: 50%;" src="../../../static/images/Dima.jpg" class="footer-item__img mobile-footer-logo">
                    <p class="footer-item__text">профиль</p>
                    
                </a>
            </div>
        </div>

        