 <footer class="footer">
            <div class="footer-container">
                <hr class="hr-solid mg-bottom-48px">
                <div class="footer-content">
                    <div class="footer-logo">
                        <a href="#" class="nav-log__title">КроссМ</a>
                    </div>
                    <div style="margin-right: 100px;" class="footer-arrow">
                        <div class="test-arrow">
                            <hr class="hr-solid-arrow">
                        </div>

                    </div>
                    <div class="footer-nav">
                    <div class="footer-top-titles">
                        <span onclick="window.location.href = '{% url 'offers:catalog' %}'" class="nav-menu__title">Каталог</span>
                        <span onclick="window.location.href = '{% url 'what-is-cm' %}'" class="nav-menu__title">Что&nbspтакое&nbspКМ?</span>
                        <span onclick="window.location.href = '{% url 'offers:my-offers' %}'" class="nav-menu__title">Мои&nbspпредложения</span>
                    </div>

                    </div>
                </div>
                <p class="nav-menu__title-policy policy">Политика конфиденциальности</p>
                <div class="footer-contacts">
                    <p class="prava">Все права защищены @2023</p>
                    <p class="developer">Сайт разработан командой Старрук инк :)</p>
                </div>
            </div>
        </footer>