<div class="footer-margin"></div>
        <div class="footer-bottom">
            <div class="footer-bottom__content">
                <a href="{% url 'instruction' %}" class="footer-logo-bottom">
                    <p class="">КроссМ</p>
                    <p class="p-mobile-logo p-mobile-instruction">инструкция</p>

                </a>
                <a href="{% url 'offers:catalog' %}" class="footer-item">
                    <img src="../../../static/images/catalog-icon.svg" class="footer-item__img">
                    <p id="CATALOG_MOBILE" class="footer-item__text">каталог</p>
                </a>
                <a href="{% url 'what-is-cm' %}" class="footer-item">
                    <img src="../../../static/images/what-is-icon.svg" class="footer-item__img">
                    <p id="KM_MOBILE" class="footer-item__text">что такое<br>км?</p>
                </a>
                <a href="{% url 'offers:my-offers' %}" class="footer-item">
                    <img src="../../../static/images/my-offers-icon.svg" class="footer-item__img">
                    <p id="OFFERS_MOBILE" class="footer-item__text">предло<br>жения</p>
                </a>
				{% if request.user.is_authenticated %}
                <a href="{% url 'view-profile' request.user.id %}" class="footer-item">
                    <img style="margin-bottom: 2px; margin-top: -2px;   border-radius: 50%;" src="../../../static/images/Dima.jpg" class="footer-item__img">

                    <p class="footer-item__text">профиль</p>
                </a>
				{% else %}
				<a href="{% url 'login' %}" class="footer-item">
                    <img style="margin-bottom: 2px; margin-top: -2px;   border-radius: 50%;" src="/media/images/no_company_logo.png" class="footer-item__img">
                    <p class="footer-item__text">вход</p>
                </a>
				{% endif %}
            </div>
        </div>

        