<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/styles/choices.min.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Document</title>
    </head>
    <body>
        <div class="Test"></div>

    {% include "base.html" %}
    {% block content %}
        

        <main class="main">
            
            
            <div class="container-padding">
                <div class="search">
                <div class="footer-arrow">
                    <div class="test-arrow">
                        <hr class="hr-solid-arrow">
                    </div>
                </div>

                <div class="div-search">
                    <input type="text" class="search-input" placeholder="Поиск...">
                    <button class="search-button" type="submit"></button>
                </div>
                </div>
            <div class="flex catalog-filters-container">
            <div class="filters-container">
                <div class="filters">
                    <p class="filters-title">Фильтры</p>
                    <hr class="hr-solid" style="margin-bottom: 20px;">
                    <p class="filter-subtitle" style="margin-bottom: 12px;">Ниша</p>
                    <div style="margin-bottom: 16px;" class="filters-choices">
                        <select class="js-choice">
                            <option value="" selected>Все</option>
                            <option value="1">Реклама</option>
                            <option value="2">Маркетинг</option>
                            <option value="3">Кафе</option> 
                        </select>
                    </div>
                    
                    <hr class="line__dashed-filters">
                    <p class="filter-subtitle" style="margin-bottom: 9px;">Количество купонов</p>
                    <div style="gap: 12px;" class="flex">
                        <div class="flex">
                            <p class="ot">От</p>
                            <input id="coupon-count-ot" class="input filters-input" type="text" maxlength="100" placeholder="0" required>
                        </div>
                        <div class="flex">
                            <p class="ot">До</p>
                            <input id="coupon-count-do" class="input filters-input" type="number" maxlength="100" placeholder="100" required>
                        </div>
                    </div>
                    <hr class="line__dashed-filters">
                    <p class="filter-subtitle" style="margin-bottom: 9px;">Валюта</p>
                    <div style="margin-bottom: 16px;" class="filters-choices">
                        <select class="js-choice">
                            <option value="" selected>Все</option>
                            {% for currency in currencies %}
                            <option value="">{{currency}}</option>
                            {% endfor %}

                        </select>
                    </div>  
                    <hr class="line__dashed-filters">
                    <p class="filter-subtitle" style="margin-bottom: 9px;">Розничная цена</p>
                    <div style="gap: 12px;" class="flex">
                        <div class="flex">
                            <p class="ot">От</p>
                            <input id="retail-price-ot" class="input filters-input" type="text" maxlength="100" placeholder="0" required>
                        </div>
                        <div class="flex">
                            <p class="ot">До</p>
                            <input id="retail-price-do" class="input filters-input" type="number" maxlength="100" placeholder="100" required>
                        </div>
                    </div>
                    <hr class="line__dashed-filters">
                    <p class="filter-subtitle" style="margin-bottom: 9px;">Цена купона</p>
                    <div style="gap: 12px;" class="flex">
                        <div class="flex">
                            <p class="ot">От</p>
                            <input id="coupon-price-ot" class="input filters-input" type="text" maxlength="100" placeholder="0" required>
                        </div>
                        <div class="flex">
                            <p class="ot">До</p>
                            <input id="coupon-price-do" class="input filters-input" type="number" maxlength="100" placeholder="100" required>
                        </div>
                    </div>
                    <hr class="line__dashed-filters">
<!--                    <p class="filter-subtitle" style="margin-bottom: 9px;">Страна</p>-->
<!--                    <div style="margin-bottom: 16px;" class="filters-choices">-->
<!--                        <select class="js-choice">-->
<!--                            <option value="" selected>Выьерите страну</option>-->

<!--                            {% for country in countries %}-->
<!--                            <option value="{{country.id}}">{{country.country}}</option>-->
<!--                            {% endfor %}-->

<!--                        </select>-->
<!--                    </div> -->
<!--                    <hr style="margin-bottom: 20px;" class="line__dashed-filters">-->
                    <div class="phone-input__right" style="margin-bottom: 16px;">
                        <label style="cursor: pointer;" class="label-filters">
                            <input id="phone" class="check-box" type="checkbox">
                            <!-- <span class="check-style-filters"></span> -->
                            <span class="check-style"></span>
                            <span class="filter-subtitle">Указан номер телефона</span>
                        </label>
                    </div> 
                    <hr style="margin-bottom: 24px;" class="line__dashed-filters">
                    
                        <button id="sort-button" class="button">
                            <p class="button-p">Показать результаты</p>
                        </button>
                    
                </div>
            </div>


            <div class="pop-up-images">
                <div class="pop-up-container">
                    <div class="pop-up-images-body">
                        <div class="pop-up-exit">

                        </div>
                        <div style="margin-bottom: 32px; margin-right: 52px;" class="flex">
                        <p class="pop-up-images-title">Компания 1</p>
                        <div style="margin-right: 16px; margin-top: -2px;" class="">
                            <span class="profile-user__city">Услуга:&nbsp</span>
                            <span class="profile-user__city__name pop-up-input-title">Салон красоты</span>
                        </div>
                        <div style="margin-top: -2px;" class="">
                            <span class="profile-user__city">Цена купона:&nbsp</span>
                            <span class="profile-user__city__name pop-up-input-price">10</span>
                        </div>
                        </div>
                        <div class="images-container">
                            <img src="../images/panda.jpg" alt="" class="pop-up-img">
                            <img src="../images/android.jpg" alt="" class="pop-up-img">
                            <img src="../images/cat.jpg" alt="" class="pop-up-img">
                            <img src="../images/Dima.jpg" alt="" class="pop-up-img">
                            <img src="../images/wolf.jpg" alt="" class="pop-up-img">
                            <div style="margin-top: 32px" class=""></div>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="card-container">
                <h2 class="main-title">
                    Предложения
                </h2>

                <div class="grid">
                    <div class="grid-sizer"></div>
                    <div class="gutter-sizer"></div>


                    <div class="company-card grid-item">
                        <div class="company-card-top">
                            <div class="company-card-logo"></div>
                            <p class="company-card-name">Test1</p>
                        </div>
                        <hr class="card-hr-solid">
                        <div class="company-card-main"> 
                            <div class="company-content-left">
                                <div class="">
                                    <p class="company-key">Ниша</p>
                                    <p class="company-value nisha">Кафе</p>
                                    <p class="company-key">Услуга</p>
                                    <p class="company-value usluga no-bottom">Стрижка</p>
                                
                                </div>
                            </div>
                            <!-- <div class="hr-solid-vertical"></div> -->
                            <div class="company-content-right">
                                <div class="flex-content-no-gap">
                                    <div class="">
                                        <p class="company-key">Количество купонов</p>
                                        <p class="company-value coupon-count">От 100 до 250</p>
                                    </div>
                                    <div class="">
                                        <p class="company-key">Розничная цена</p>
                                        <p class="company-value no-bottom retail-price">10 BYN</p>
                                    </div>    
                                </div>
                            </div> 
                        </div>
    
                        <hr class="card-hr-solid">
    
                        <div class="company-card-main company-card-main-bottom"> 
                            <div class="company-content-left">
                                <div class=>
                                    <p class="company-key">Цена купона</p>
                                    <p class="company-value no-bottom coupon-price">2 BYN</p>
                                
                                </div>
                            </div>
                            <!-- <div class="hr-solid-vertical"></div> -->
                            <div class="company-content-right">
                                <div class="flex-content-no-gap">
                                    <button style="margin-top: -2px; max-width: 150px;" class="button check-pop-up">
                                        <p class="button-p">Посмотреть вложения</p>
                                    </button>
                                </div>
                            </div>
                            
                        </div>
    
                        <hr class="card-hr-solid ">
    
                        <div class="company-card-main"> 
                            <div class="company-content-left">
                                <div class="">
                                    <p class="contacts">Контакты</p>
                                    <div class="contacts-flex">
                                        <p class="contacts-mail">dekholoduniya.yaha@gmail.com</p>
                                        <p class="contacts-phone">+375 29 888 88 88</p>
                                    </div>
                                
                                </div>
                            </div>
                            <!-- <div class="hr-solid-vertical"></div> -->
                            <div class="company-content-right">
                                <div class="flex-content-no-gap">
                                    <div class="">
                                        <p class="contacts-name">Станислав Брониславович</p>
                                        <p class="contacts-proffesion">— (Директор по закупкам)</p>
                                    </div>   
                                </div>
                            </div> 
                        </div>
                        <hr class="hr-solid">
                        <div class="company-card-buttons">
                            <button class="button button-282px">
                                <p class="button-p">Посмотреть вложения</p>
                            </button>
                            <button class="button button-282px">
                                <p class="button-p">Редактировать предложение</p>
                            </button>
                        </div>
                    </div>

                    

                    <div class="company-card grid-item">
                        <div class="company-card-top">
                            <div class="company-card-logo"></div>
                            <p class="company-card-name">Test2</p>
                        </div>
                        <hr class="card-hr-solid">
                        <div class="company-card-main"> 
                            <div class="company-content-left">
                                <div class="">
                                    <p class="company-key">Ниша</p>
                                    <p class="company-value nisha">Маркетинг</p>
                                    <p class="company-key">Услуга</p>
                                    <p class="company-value usluga no-bottom">Стрижка</p>
                                
                                </div>
                            </div>
                            <!-- <div class="hr-solid-vertical"></div> -->
                            <div class="company-content-right">
                                <div class="flex-content-no-gap">
                                    <div class="">
                                        <p class="company-key">Количество купонов</p>
                                        <p class="company-value coupon-count">От 10 до 250</p>
                                    </div>
                                    <div class="">
                                        <p class="company-key">Розничная цена</p>
                                        <p class="company-value no-bottom retail-price">5000 RUB</p>
                                    </div>    
                                </div>
                            </div> 
                        </div>
    
                        <hr class="card-hr-solid">
    
                        <div class="company-card-main company-card-main-bottom"> 
                            <div class="company-content-left">
                                <div class=>
                                    <p class="company-key">Цена купона</p>
                                    <p class="company-value no-bottom coupon-price">300 RUB</p>
                                
                                </div>
                            </div>
                            <!-- <div class="hr-solid-vertical"></div> -->
                            <div class="company-content-right">
                                <div class="flex-content-no-gap">
                                    <button style="margin-top: -2px; max-width: 150px;" class="button check-pop-up">
                                        <p class="button-p">Посмотреть вложения</p>
                                    </button>
                                </div>
                            </div>
                            
                        </div>
    
                        <hr class="card-hr-solid ">
    
                        <div class="company-card-main"> 
                            <div class="company-content-left">
                                <div class="">
                                    <p class="contacts">Контакты</p>
                                    <div class="contacts-flex">
                                        <p class="contacts-mail">dekholoduniya.yaha@gmail.com</p>
                                        <p class="contacts-phone"></p>
                                    </div>
                                
                                </div>
                            </div>
                            <!-- <div class="hr-solid-vertical"></div> -->
                            <div class="company-content-right">
                                <div class="flex-content-no-gap">
                                    <div class="">
                                        <p class="contacts-name">Станислав Брониславович</p>
                                        <p class="contacts-proffesion">— (Директор по закупкам)</p>
                                    </div>   
                                </div>
                            </div> 
                        </div>
                        <hr class="hr-solid">
                        <div class="company-card-buttons">
                            <button class="button button-282px">
                                <p class="button-p">Посмотреть вложения</p>
                            </button>
                            <button class="button button-282px">
                                <p class="button-p">Редактировать предложение</p>
                            </button>
                        </div>
                    </div>




                    <div class="company-card grid-item">
                        <div class="company-card-top">
                            <div class="company-card-logo"></div>
                            <p class="company-card-name">Test3</p>
                        </div>
                        <hr class="card-hr-solid">
                        <div class="company-card-main"> 
                            <div class="company-content-left">
                                <div class="">
                                    <p class="company-key">Ниша</p>
                                    <p class="company-value nisha">Реклама</p>
                                    <p class="company-key">Услуга</p>
                                    <p class="company-value usluga no-bottom">Что</p>
                                
                                </div>
                            </div>
                            <!-- <div class="hr-solid-vertical"></div> -->
                            <div class="company-content-right">
                                <div class="flex-content-no-gap">
                                    <div class="">
                                        <p class="company-key">Количество купонов</p>
                                        <p class="company-value coupon-count">От 1 до 20</p>
                                    </div>
                                    <div class="">
                                        <p class="company-key">Розничная цена</p>
                                        <p class="company-value no-bottom retail-price">100 USD</p>
                                    </div>    
                                </div>
                            </div> 
                        </div>
    
                        <hr class="card-hr-solid">
    
                        <div class="company-card-main company-card-main-bottom"> 
                            <div class="company-content-left">
                                <div class=>
                                    <p class="company-key">Цена купона</p>
                                    <p class="company-value no-bottom coupon-price">5 USD</p>
                                
                                </div>
                            </div>
                            <!-- <div class="hr-solid-vertical"></div> -->
                            <div class="company-content-right">
                                <div class="flex-content-no-gap">
                                    <button style="margin-top: -2px; max-width: 150px;" class="button check-pop-up">
                                        <p class="button-p">Посмотреть вложения</p>
                                    </button>
                                </div>
                            </div>
                            
                        </div>
    
                        <hr class="card-hr-solid ">
    
                        <div class="company-card-main"> 
                            <div class="company-content-left">
                                <div class="">
                                    <p class="contacts">Контакты</p>
                                    <div class="contacts-flex">
                                        <p class="contacts-mail">dekholoduniya.yaha@gmail.com</p>
                                        <p class="contacts-phone">+375 29 888 88 88</p>
                                    </div>
                                
                                </div>
                            </div>
                            <!-- <div class="hr-solid-vertical"></div> -->
                            <div class="company-content-right">
                                <div class="flex-content-no-gap">
                                    <div class="">
                                        <p class="contacts-name">Станислав Брониславович</p>
                                        <p class="contacts-proffesion">— (Директор по закупкам)</p>
                                    </div>   
                                </div>
                            </div> 
                        </div>
                        <hr class="hr-solid">
                        <div class="company-card-buttons">
                            <button class="button button-282px">
                                <p class="button-p">Посмотреть вложения</p>
                            </button>
                            <button class="button button-282px">
                                <p class="button-p">Редактировать предложение</p>
                            </button>
                        </div>
                    </div>
                

            </div>

            </div>

            </div>
        </div>
        </main>
       {% include "footer.html" %}
        <!-- <div class="bottom-margin"></div> -->
        <script src="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/scripts/choices.min.js"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
        
        <script src="{% static 'js/catalog.js' %}"></script>
        <script>
        document.querySelectorAll('.check-pop-up').forEach((el) => {
            el.addEventListener('click', () => {
                document.querySelector('.pop-up-images-title').innerHTML = el.parentNode.parentNode.parentNode.parentNode.children[0].children[1].innerHTML
                document.querySelector('.pop-up-input-title').innerHTML = el.parentNode.parentNode.parentNode.parentNode.children[2].children[0].children[0].children[3].innerHTML
                document.querySelector('.pop-up-input-price').innerHTML = el.parentNode.parentNode.parentNode.children[0].children[0].children[1].innerHTML
                document.querySelector('.pop-up-images').classList.toggle('pop-up-delete-active');
            })
        })  

        document.querySelector('.pop-up-exit').addEventListener('click', () => {
            document.querySelector('.pop-up-images').classList.remove('pop-up-delete-active');
        })  
        </script>
    </body>
{% endblock %}
</html>