<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/styles/choices.min.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Document</title>
    </head>
    <body>
        <div class="Test"></div>

    {% include "base.html" %}
{% block content %}

        <main class="main">
            <div class="container-padding">
                
                <div class="search">
                    
                <div class="footer-arrow">
                    <div class="test-arrow">
                        <hr class="hr-solid-arrow">
                    </div>
                </div>
                <div class="div-search">
                    <input type="text" class="search-input" placeholder="Поиск...">
                    <button class="search-button" type="submit"></button>
                </div>
                </div>
            <div class="flex catalog-filters-container">
            
                <div class="exit-test"></div>
                <div class="filters-container">
                    
                    
                    <div class="filters">
                        <p class="filters-title">Фильтры</p>
                        <hr class="hr-solid" style="margin-bottom: 20px;">
                        <p class="filter-subtitle" style="margin-bottom: 12px;">Ниша</p>
                        <div style="margin-bottom: 16px;" class="filters-choices">
                            <select class="js-choice">
                                <option value="" selected>Все</option>
                                {% for niche in niches %}
                                <option value="1">{{niche.niche}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <hr class="line__dashed-filters">
                        <p class="filter-subtitle" style="margin-bottom: 9px;">Количество купонов</p>
                        <div style="gap: 12px;" class="flex">
                            <div class="flex">
                                <p class="ot">От</p>
                                <input id="coupon-count-ot" class="input filters-input" type="text" maxlength="100" placeholder="0" required>
                            </div>
                            <div class="flex">
                                <p class="ot">До</p>
                                <input id="coupon-count-do" class="input filters-input" type="number" maxlength="100" placeholder="100" required>
                            </div>
                        </div>

                        <hr class="line__dashed-filters">
                        <p class="filter-subtitle" style="margin-bottom: 9px;">Валюта</p>
                        <div style="margin-bottom: 16px;" class="filters-choices">
                            <select class="js-choice">
                                <option value="" selected>Все</option>
                                {% for currency in currencies %}
                                <option value="1">{{currency.currency}}</option>
                                {% endfor %}
                            </select>
                        </div>  
                        <hr class="line__dashed-filters">
                        <p class="filter-subtitle" style="margin-bottom: 9px;">Розничная цена</p>
                        <div style="gap: 12px;" class="flex">
                            <div class="flex">
                                <p class="ot">От</p>
                                <input id="retail-price-ot" class="input filters-input" type="text" maxlength="100" placeholder="0" required>
                            </div>
                            <div class="flex">
                                <p class="ot">До</p>
                                <input id="retail-price-do" class="input filters-input" type="number" maxlength="100" placeholder="100" required>
                            </div>
                        </div>
                        <hr class="line__dashed-filters">
                        <p class="filter-subtitle" style="margin-bottom: 9px;">Цена купона</p>
                        <div style="gap: 12px;" class="flex">
                            <div class="flex">
                                <p class="ot">От</p>
                                <input id="coupon-price-ot" class="input filters-input" type="text" maxlength="100" placeholder="0" required>
                            </div>
                            <div class="flex">
                                <p class="ot">До</p>
                                <input id="coupon-price-do" class="input filters-input" type="number" maxlength="100" placeholder="100" required>
                            </div>
                        </div>
                        <hr class="line__dashed-filters">
<!--                        <p class="filter-subtitle" style="margin-bottom: 9px;">Страна</p>-->
<!--                        <div style="margin-bottom: 16px;" class="filters-choices">-->
<!--                            <select class="js-choice">-->
<!--                                <option value="" selected>asdf</option>-->
<!--                                <option value="1">Беларусь</option>-->
<!--                                <option value="2">Франция</option>-->
<!--                                <option value="3">Испания</option> -->
<!--                            </select>-->
<!--                        </div> -->
<!--                        <hr style="margin-bottom: 20px;" class="line__dashed-filters">-->
                        <div class="phone-input__right" style="margin-bottom: 16px;">
                            <label style="cursor: pointer;" class="label-filters">
                                <input id="phone" class="check-box" type="checkbox">
                                <!-- <span class="check-style-filters"></span> -->
                                <span class="check-style"></span>
                                <span class="filter-subtitle">Указан номер телефона</span>
                            </label>
                        </div> 
                        <hr style="margin-bottom: 24px;" class="line__dashed-filters">
                        
                            <button id="sort-button" class="button">
                                <p class="button-p">Показать результаты</p>
                            </button>
                        
                    </div>
                </div>


                <div class="pop-up-images">
                    <div class="pop-up-container">
                        <div class="pop-up-images-body">
                            <div class="pop-up-exit">
    
                            </div>
                            <div style="margin-bottom: 32px;" class="flex">
                            <p class="pop-up-images-title"></p>
                            <div style="margin-right: 16px;" class="">
                                <span class="profile-user__city">Услуга:&nbsp</span>
                                <span class="profile-user__city__name pop-up-input-title"></span>
                            </div>
                            <div class="">
                                <span class="profile-user__city">Цена купона:&nbsp</span>
                                <span class="profile-user__city__name pop-up-input-price"></span>
                            </div>
                            </div>
                            <div class="images-container">
<!--                                <img src="" alt="" class="pop-up-img">-->
<!--                                <div style="margin-top: 32px" class=""></div>-->
                            </div>
                        </div>
                    </div>
                </div>

            
            <div class="card-container">
                <div class="flex">
                <h2 class="main-title">
                    Предложения
                </h2>
                <button class="test-filter">
                    Фильтры
                </button>
                </div>

                <div class="grid">
                    <div class="grid-sizer"></div>
                    <div class="gutter-sizer"></div>

{% for offer in offers %}

                    <div class="company-card grid-item">
                        <div class="company-card-top">
                            <div class="company-card-logo"></div>
                            <p class="company-card-name">{{offer.company.title}}</p>
                        </div>
                        <hr class="card-hr-solid">
                        <div class="company-card-main"> 
                            <div class="company-content-left">
                                <div class="">
                                    <p class="company-key">Ниша</p>
                                    <p class="company-value nisha">{{offer.company.niche}}</p>
                                    <p class="company-key">Услуга</p>
                                    <p class="company-value usluga no-bottom">{{offer.title}}</p>
                                
                                </div>
                            </div>
                            <!-- <div class="hr-solid-vertical"></div> -->
                            <div class="company-content-right">
                                <div class="flex-content-no-gap">
                                    <div class="">
                                        <p class="company-key">Количество купонов</p>
                                        <p class="company-value coupon-count">От {{offer.amount_min}} до {{offer.amount_max}}</p>
                                    </div>
                                    <div class="">
                                        <p class="company-key">Розничная цена</p>
                                        <p class="company-value no-bottom retail-price">{{offer.retail_price}} {{offer.currency}}</p>
                                    </div>    
                                </div>
                            </div> 
                        </div>
    
                        <hr class="card-hr-solid">
    
                        <div class="company-card-main company-card-main-bottom"> 
                            <div class="company-content-left">
                                <div class=>
                                    <p class="company-key">Цена купона</p>
                                    <p class="company-value no-bottom coupon-price">{{offer.coupon_price}} {{offer.currency}}</p>
                                
                                </div>
                            </div>
                            <!-- <div class="hr-solid-vertical"></div> -->
                            <div class="company-content-right">
                                <div class="flex-content-no-gap">
                                    {% if offer.has_photo %}
                                    <button id="{{offer.id}}" style="margin-top: -2px; max-width: 150px;" class="button check-pop-up">
                                        <p class="button-p">Посмотреть вложения</p>
                                    </button>
                                    {% endif %}
                                </div>
                            </div>
                            
                        </div>
    
                        <hr class="card-hr-solid ">
    
                        <div class="company-card-main"> 
                            <div class="company-content-left">
                                <div class="">
                                    <p class="contacts">Контакты</p>
                                    <div class="contacts-flex">
                                        <p class="contacts-mail">{{offer.company.owner.email}}</p>
                                        {% if offer.company.owner.profile_set.all.0.phone_num_show %}
                                        <p class="contacts-phone">{{offer.company.owner.profile_set.all.0.phone_num}}</p>
                                        {% endif %}
                                    </div>
                                
                                </div>
                            </div>
                            <!-- <div class="hr-solid-vertical"></div> -->
                            <div class="company-content-right">
                                <div class="flex-content-no-gap">
                                    <div class="">
                                        <p class="contacts-name">{{offer.company.owner.first_name}} {{offer.company.owner.last_name}}</p>
                                        <p class="contacts-proffesion">— ({{offer.company.role}})</p>
                                    </div>   
                                </div>
                            </div> 
                        </div>
                        <hr style = "margin-bottom: 4px" class="hr-solid">

                    </div>

                    {% endfor %}


            </div>

            </div>

            </div>
        </div>
        </main>

{% include "footer.html" %}
        <!-- <div class="bottom-margin"></div> -->
        <script src="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/scripts/choices.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
        
        <script src="{% static 'js/catalog.js' %}"></script>
        <script>
            
        document.querySelector('.test-filter').addEventListener('click', () => {  
            if (document.querySelector('.filters-container').style.visibility === 'visible') {
            document.querySelector('.test-filter').style.visibility = 'visible';
            document.querySelector('.test-filter').style.opacity = 1;

            document.querySelector('.filters-container').style.transform = 'translateX(-320px)';
            document.querySelector('.filters-container').style.visibility = 'hidden';
            document.querySelector('.filters-container').style.opacity = 0;
            document.querySelector('.exit-test').style.visibility = 'hidden';
            document.querySelector('.exit-test').style.opacity = 0;
            document.querySelector('.exit-test').style.transform = 'translateX(-320px)';
            
 
            } else {
                document.querySelector('.test-filter').style.visibility = 'hidden';
            document.querySelector('.test-filter').style.opacity = 0;
            document.querySelector('.exit-test').style.transform = 'translateX(0px)';
            document.querySelector('.filters-container').style.transform = 'translateX(0px)';
            document.querySelector('.filters-container').style.visibility = 'visible';
            document.querySelector('.filters-container').style.opacity = 1;
            document.querySelector('.exit-test').style.visibility = 'visible';
            document.querySelector('.exit-test').style.opacity = 1; 
            }

            

        })

        document.querySelector('.exit-test').addEventListener('click', () => { 
            document.querySelector('.test-filter').style.visibility = 'visible';
            document.querySelector('.test-filter').style.opacity = 1;

        document.querySelector('.filters-container').style.transform = 'translateX(-320px)';
           document.querySelector('.filters-container').style.visibility = 'hidden';
           document.querySelector('.filters-container').style.opacity = 0;
           document.querySelector('.exit-test').style.visibility = 'hidden';
           document.querySelector('.exit-test').style.opacity = 0;
           document.querySelector('.exit-test').style.transform = 'translateX(-320px)';

       })

        

        document.querySelectorAll('.check-pop-up').forEach((el) => {
            el.addEventListener('click', () => {
                getImages(el.id, el);
            })
        })  

        document.querySelector('.pop-up-exit').addEventListener('click', () => {
            document.querySelector('.pop-up-images').classList.remove('pop-up-delete-active');
        })




function getImages(id, el)
{

    $.ajax(
    {
        url: '{% url "offers:get-images" %}',
        data: {
            'id': id,
        },
        dataType: 'json',
        success: function(data) {
                 const output = document.querySelector(".images-container")
                 let images = "";

                 for (let i = 0; i < data.images.length; i++) {
                 const out = data.images[i]
                 console.log(out);

                    images += `
                <img src="${out}" alt="image" class="pop-up-img">
              `;
                 }
                 images += ` <div style="margin-top: 32px" class=""></div> `
                 console.log(images);
                 output.innerHTML = images;
                 setTimeout(() => {}, "500")
                document.querySelector('.pop-up-images-title').innerHTML = el.parentNode.parentNode.parentNode.parentNode.children[0].children[1].innerHTML
                document.querySelector('.pop-up-input-title').innerHTML = el.parentNode.parentNode.parentNode.parentNode.children[2].children[0].children[0].children[3].innerHTML
                document.querySelector('.pop-up-input-price').innerHTML = el.parentNode.parentNode.parentNode.children[0].children[0].children[1].innerHTML
                document.querySelector('.pop-up-images').classList.toggle('pop-up-delete-active');
        },
        type: "GET",

    });

}


        </script>
    </body>
{% endblock %}
</html>
