<!--<form method="post" enctype="multipart/form-data">-->
<!--    {% csrf_token%}-->
<!--{{form}}-->
<!--<button class="last-button-add" type="submit" id="upload">-->

<!--  <p class="button-p">Сохранить</p>-->

<!--</button>-->
<!--</form>-->
<!--{% if form.errors %}-->
<!--{{form.errors.error}}-->
<!--{% endif %}-->

<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/styles/choices.min.css"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Document</title>
    </head>
    <body>

    {% include "base.html" %}
    {% block content %}

        <main>
            <div class="container-padding">
            <div class="container">
                <h2 class="main-title">
                    Создание предложения
                </h2>
                <hr class="hr-solid">
                <form action="">
                    <div class="inputs">
                        <div class="inputs-part inputs-part__double">
                            <h3 class="inputs-part__title">Услуга</h3>
                            <div class="inputs-part__div">
                                {{form.title|attr:"maxlength:80"}}
                            </div>
                            <p class="input__comment">Напишите название услуги.
                            <br>Максимальное количество символов —

                        </div>
                        <div class="inputs-part inputs-part__double">
                            <h3 class="inputs-part__title">Количество купонов</h3>
                            <div class="inputs-part__div">
                                {{form.amount|attr:"maxlength:6"}}
                            </div>
                            <p class="input__comment">Напишите желаемое количество купонов для реализации.
                            <br>Точное число или, например ОТ ... или ОТ ... ДО ...

                        </div>

                    </div>
                    <div class="line">
                        <hr class="line__dashed line__dashed-620">
                        <hr class="line__dashed line__dashed-620">
                    </div>

                    <div class="inputs">
                        <div class="inputs-part inputs-part__double">
                            <h3 class="inputs-part__title">Розничная цена</h3>
                            <div class="inputs-part__div">
                                {{form.retailprice|attr:"maxlength:10"}}
                            </div>
                            <p class="input__comment">Здесь укажите цену услуги при розничной продаже
                        </div>

                        <div class="inputs-part inputs-part__double">
                            <div class="inputs-part__double-flex">

                            <div class="inputs-part inputs-part__double">
                                <h3 class="inputs-part__title">Цена купона</h3>
                                <div class="inputs-part__div">
                                    {{form.coupon_price|attr:"maxlength:10"}}
                                </div>
                                <p class="input__comment">Здесь укажите цену 1 купона
                            </div>
                            <div class="inputs-part__300px">
                            <h3 class="inputs-part__title">Валюта</h3>
                            <div class="inputs-part__div">
                                {{form.currency}}
                            </div>
                            <div class="bottom-16px"></div>
                            <p class="input__comment">Введите валюту
                            </div>
                        </div>
                        </div>


                    </div>


                    <div class="line">
                        <hr class="line__dashed line__dashed-620">
                        <div class="left-hr">
                            <hr class="line__dashed line__dashed-300">
                            <hr class="line__dashed line__dashed-300">
                        </div>
                    </div>

                    <div class="inputs">
                        <div class="inputs-part inputs-part__double">
                            <h3 class="inputs-part__title">Фото купонов</h3>
                            <div class="inputs-part__div">
                                <div class="file-form">
                                    <div class="choose-file-container input-620px-single">
                                        <label class="choose-file-button" id="test">
                                            {{form.image}}
                                            <span class="button-file">Выбрать файлы</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-16px"></div>
                            <p class="input__comment">Пишитие, пожалуйста с 9 до 20 в вайбер на номер телфона
                        </div>
                        <div class="inputs-part inputs-part__double">
                            <h3 class="inputs-part__title">Ниша</h3>
                            <div class="inputs-part__div">
                                <select class="js-choice">
                                    <option value="" selected>Выберите нишу</option>
                                    <option value="1">Кафе</option>
                                    <option value="2">Финтес клуб</option>
                                    <option value="3">Пиццерия</option>
                                    <option value="4">Реклама</option>
                                    <option value="5">Салон красоты</option>
                                    <option value="6">Шаурмичная</option>
                                    <option value="7">Бургерная</option>
                                    <option value="8">Кальянная</option>
                                    <option value="9">Суши-бар</option>
                                    <option value="10">Интернет-магазин</option>
                                    <option value="11">Рыбалка</option>
                                    <option value="12">Пчеловодство</option>
                                    <option value="13">Медицина</option>
                                    <option value="14">Маркетинг</option>
                                </select>
                            </div>
                            <div class="bottom-16px"></div>
                            <p class="input__comment">Выберите нишу Вашей компании. Если в списке нет того, что Вам
                            <br>нужно, выберите наиболее подходящую
                        </div>
                    </div>
                    <div class="line">
                        <hr class="line__dashed line__dashed-620">
                        <hr class="line__dashed line__dashed-620">
                    </div>
                    <div class="button-submit">
                        <button class="button" type="submit">
                            <p class="button-p">Создать предложение</p>
                        </button>
                    </div>
                </form></div>
            </div>
        </div>
        </main>
        <!-- <div class="bottom-margin"></div> -->
        <script src="../js/file-animation.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/scripts/choices.min.js"></script>
        <script src="../js/main.js"></script>
    </body>

</html>

#hello world