<!--{% for company in objects %}-->
<!--{{company.title}}-->
<!--{% for offer in company.offers_set.all %}-->
<!--<p id="offer-{{offer.id}}">-->
<!--{{offer.title}}-->
<!--</p>-->
<!--<button id="button-{{offer.id}}" class="btn btn-danger form-control" onclick="deleteUser({{offer.id}})">DELETE</button>-->
<!--{% endfor %}-->
<!--{% endfor %}-->

<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/loading.css' %}" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		{% include "favicon.html" %}
        <title>PMarket | Мои предложения</title>
    </head>
    <body>

<!--<script>-->
<!--        function buildUrl(id)-->
<!--    {-->
<!--    if (document.querySelector('.add-offer').href != ""){-->
<!--    const url = '{% url "offers:create-offer" 0 %}'-->
<!--    url.replace(0, id)-->
<!--    document.querySelector('.add-offer').href = url;-->
<!--    }-->
<!--    };-->
<!--</script>-->

    {% include "base.html" %}
    {% block content %}

        <main class="main">
            <div class="container-padding">


                <div class="pop-up-delete">
                        <div class="pop-up-container">
                            <div class="pop-up-body">
                                <p class="pop-up-title">Вы уверены, что хотите удалить это предложение?
                                </p>
                                <div class="pop-up-buttons">
                                    <div class="pop-up-button pop-up-button-cancel">
                                        <button class="button">
                                            <p class="button-p">Отменить</p>
                                        </button>
                                    </div>
                                    <div class="pop-up-button pop-up-button-confirm">
                                        <button class="button">
                                            <p class="button-p">Удалить</p>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                <div class="pop-up-images">
                    <div class="pop-up-container">
                        <div class="pop-up-images-body">
                            <div class="pop-up-exit">

                            </div>
                            <div style="margin-bottom: 12px; margin-right: 36px;" class="flex card-pop-up-mobile">
                            <p class="pop-up-images-title"></p>
                            <div style="margin-right: 16px;" class="">
                                <span class="profile-user__city">Услуга:&nbsp</span>
                                <span class="profile-user__city__name pop-up-input-title"></span>
                            </div>
                            <div class="">
                                <span class="profile-user__city">Цена купона:&nbsp</span>
                                <span class="profile-user__city__name pop-up-input-price"></span>
                            </div>
                            </div>
                            <div class="images-container">
<!--                                <img src="" alt="" class="pop-up-img">-->
<!--                                <div style="margin-top: 32px" class=""></div>-->
                            </div>
                        </div>
                    </div>
                </div>



            <div class="card-container">
                <p class="offers-mobile margin-left-mobile">Мои предложения</p>
                    {% if objects %}
                <div class="all-companies margin-left-mobile">
                    {% for company in objects %}
                    <span id="{{company.id}}" class="company">{{company.title}}</span>
                    {% endfor %}
                </div>

                <a class="add-offer margin-left-mobile">Добавить предложение</a>
                
                <div class="pop-up">
                    <div class="pop-up-arrow"></div>
                    <p class="p-pop-up">Пожалуйста, выберите компанию, от лица которой Вы хотите создать предложение</p>
                </div>


{% if not objects.0.offers_set.all %}
                <p
                style="position: static; margin-top: -10px;"
                class="p-no-reviews message-error"
                >У вас пока нет предложений
{% else %}
                </p>
                <div class="grid">
                <div class="grid-sizer"></div>
                <div class="gutter-sizer"></div>

                    {% for company in objects %}
                    {% for offer in company.offers_set.all %}

                <div id="offer-{{offer.id}}" class="company-card grid-item">
                    <div class="company-card-top">
                        <div class="company-card-logo" style="position: relative;">
                            {% if company.photo %}
                                <img class="card__img" src="{{company.photo.url}}">
                                    {% else %}
                                <img class="card__img" src="/media/images/no_company_logo.png">
                                    {% endif %}
                        </div>
                        <span onclick="window.location.href = '{% url 'companies:company-page' company.id %}'" class="company-card-name">{{company.title}}</span>
                    </div>
                    <hr class="card-hr-solid">
                    <div class="company-card-main">
                        <div class="company-content-left">
                            <div class="">
                                <p class="company-key">Ниша</p>
                                <p class="company-value">{{offer.company.niche}}</p>
                                <hr class="mobile-card-dashed">
                                <p class="company-key type-service">Услуга</p>
                                <p class="company-value no-bottom">{{offer.title}}</p>
                                <hr class="mobile-card-dashed">

                            </div>
                        </div>
                        <!-- <div class="hr-solid-vertical"></div> -->
                        <div class="company-content-right">
                            <div class="flex-content-no-gap mobile-flex-reverse">
                                <div class="">
                                <p class="company-key">Количество купонов</p>
                                <p class="company-value">От {{offer.amount_min}} до {{offer.amount_max}}</p>
                                <hr class="mobile-card-dashed">
                                </div>
                                <div class="">
                                <p class="company-key">Розничная цена</p>
                                <p class="company-value no-bottom">{{offer.retail_price}} {{offer.currency}}</p>
                                <hr class="card-hr-solid hr-to-show">
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="card-hr-solid hr-to-hide">

                    <div class="company-card-main company-card-main-bottom">
                        <div class="company-content-left">
                            <div class=>
                                <p class="company-key">Цена купона</p>
                                <p class="company-value no-bottom coupon-price">{{offer.coupon_price}} {{offer.currency}}</p>
                                <hr class="card-hr-solid hr-to-show">
                            </div>
                        </div>
                        <!-- <div class="hr-solid-vertical"></div> -->
                        <div class="company-content-right">
                            <div class="flex-content-no-gap">
                                {% if offer.has_photo %}
                                <button id="img-{{offer.id}}" style="margin-top: -2px; max-width: 150px;" class="button check-pop-up button-to-hide">
                                    <p class="button-p">Посмотреть вложения</p>
                                </button>
                                {% else %}
                                <button style="margin-top: -2px; max-width: 150px;" class="button button-ynp button-to-hide">
                                    <p class="button-p">Посмотреть вложения</p>
                                </button>
                                {% endif %}
                            </div>
                        </div>

                    </div>

                    <hr class="card-hr-solid hr-to-hide">

                    <div class="company-card-main">
                        <div class="company-content-left">
                            <div class="">
                                <p class="contacts">Контакты</p>
                                <div class="contacts-flex">
                                    <p class="contacts-mail">{{offer.company.owner.email}}</p>
                                    {% if company.owner.profile_set.all.0.phone_num_show %}
                                    <p class="contacts-phone">{{company.owner.profile_set.all.0.phone_num}}</p>
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                        <!-- <div class="hr-solid-vertical"></div> -->
                        <div class="company-content-right">
                            <div class="flex-content-no-gap">
                                <div class="">
                                    <p class="contacts-name">{{offer.company.owner.first_name}} {{offer.company.owner.last_name}}</p>
                                    <p class="contacts-proffesion">— ({{offer.company.role}})</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr style = "margin-bottom: 32px" class="hr-solid hr-to-hide">
                        <hr class="card-hr-solid hr-to-show">

                    <!-- <hr class="hr-solid"> -->
                    {% if offer.has_photo %}
                        <button id="{{offer.id}}" style="margin-top: 4px; margin-bottom: 8px;" class="button check-pop-up button-to-show">
                            <p class="button-p">Посмотреть вложения</p>
                        </button>
                        {% else %}
                        <button style="margin-top: 4px; margin-bottom: 8px;" class="button button-ynp button-to-show">
                            <p class="button-p">Посмотреть вложения</p>
                        </button>
                        {% endif %}
                        <hr class="card-hr-solid hr-to-show">
                    <div class="company-card-buttons">
                    
                        <button class="button button-282px" onclick="window.location.href = '{% url 'offers:update-offer' offer.id %}'">
                            <p class="button-p">Редактировать предложение</p>
                        </button>
                        <button id="del-{{offer.id}}" class="button button-282px button-for-pop-up">
                            <p class="button-p">Удалить предложение</p>
                        </button>
                    </div>
                </div>

                    {% endfor %}
                    {% endfor %}



                </div>
                                    {% endif %}
                {% else %}
                <a href="{% url 'companies:create-company' %}" class="add-offer">Добавить свою компанию</a>

                <p
                style="position: static; margin-top: -10px;"
                class="p-no-reviews message-error"
                >У вас пока нет компаний
       {% endif %}
            </div>
        </div>
        </main>
        
        {% include "footer-mobile.html" %}



        <div class="loading">
            <div class="cont">
            
              <div class="h1Container">
            
                <div class="cube h1 w1 l1">
                  <div class="face top"></div>
                  <div class="face left"></div>
                  <div class="face right"></div>
                </div>
            
                <div class="cube h1 w1 l2">
                  <div class="face top"></div>
                  <div class="face left"></div>
                  <div class="face right"></div>
                </div>
            
                <div class="cube h1 w1 l3">
                  <div class="face top"></div>
                  <div class="face left"></div>
                  <div class="face right"></div>
                </div>
            
                <div class="cube h1 w2 l1">
                  <div class="face top"></div>
                  <div class="face left"></div>
                  <div class="face right"></div>
                </div>
            
                <div class="cube h1 w2 l2">
                  <div class="face top"></div>
                  <div class="face left"></div>
                  <div class="face right"></div>
                </div>
            
                <div class="cube h1 w2 l3">
                  <div class="face top"></div>
                  <div class="face left"></div>
                  <div class="face right"></div>
                </div>
            
                <div class="cube h1 w3 l1">
                  <div class="face top"></div>
                  <div class="face left"></div>
                  <div class="face right"></div>
                </div>
            
                <div class="cube h1 w3 l2">
                  <div class="face top"></div>
                  <div class="face left"></div>
                  <div class="face right"></div>
                </div>
            
                <div class="cube h1 w3 l3">
                  <div class="face top"></div>
                  <div class="face left"></div>
                  <div class="face right"></div>
                </div>
              </div>
              
              <div class="h2Container">
            
                <div class="cube h2 w1 l1">
                  <div class="face top"></div>
                  <div class="face left"></div>
                  <div class="face right"></div>
                </div>
            
                <div class="cube h2 w1 l2">
                  <div class="face top"></div>
                  <div class="face left"></div>
                  <div class="face right"></div>
                </div>
            
                <div class="cube h2 w1 l3">
                  <div class="face top"></div>
                  <div class="face left"></div>
                  <div class="face right"></div>
                </div>
            
                <div class="cube h2 w2 l1">
                  <div class="face top"></div>
                  <div class="face left"></div>
                  <div class="face right"></div>
                </div>
            
                <div class="cube h2 w2 l2">
                  <div class="face top"></div>
                  <div class="face left"></div>
                  <div class="face right"></div>
                </div>
            
                <div class="cube h2 w2 l3">
                  <div class="face top"></div>
                  <div class="face left"></div>
                  <div class="face right"></div>
                </div>
            
                <div class="cube h2 w3 l1">
                  <div class="face top"></div>
                  <div class="face left"></div>
                  <div class="face right"></div>
                </div>
            
                <div class="cube h2 w3 l2">
                  <div class="face top"></div>
                  <div class="face left"></div>
                  <div class="face right"></div>
                </div>
            
                <div class="cube h2 w3 l3">
                  <div class="face top"></div>
                  <div class="face left"></div>
                  <div class="face right"></div>
                </div>
              </div>
              
              <div class="h3Container">
            
                <div class="cube h3 w1 l1">
                  <div class="face top"></div>
                  <div class="face left"></div>
                  <div class="face right"></div>
                </div>
            
                <div class="cube h3 w1 l2">
                  <div class="face top"></div>
                  <div class="face left"></div>
                  <div class="face right"></div>
                </div>
            
                <div class="cube h3 w1 l3">
                  <div class="face top"></div>
                  <div class="face left"></div>
                  <div class="face right"></div>
                </div>
            
                <div class="cube h3 w2 l1">
                  <div class="face top"></div>
                  <div class="face left"></div>
                  <div class="face right"></div>
                </div>
            
                <div class="cube h3 w2 l2">
                  <div class="face top"></div>
                  <div class="face left"></div>
                  <div class="face right"></div>
                </div>
            
                <div class="cube h3 w2 l3">
                  <div class="face top"></div>
                  <div class="face left"></div>
                  <div class="face right"></div>
                </div>
            
                <div class="cube h3 w3 l1">
                  <div class="face top"></div>
                  <div class="face left"></div>
                  <div class="face right"></div>
                </div>
            
                <div class="cube h3 w3 l2">
                  <div class="face top"></div>
                  <div class="face left"></div>
                  <div class="face right"></div>
                </div>
            
                <div class="cube h3 w3 l3">
                  <div class="face top"></div>
                  <div class="face left"></div>
                  <div class="face right"></div>
                </div>
              </div>
              
            </div>
            </div>

            {% include "footer.html" %}

        <!-- <div class="bottom-margin"></div> -->
        <script src="{% static 'js/sort-companies.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
<!--        <script src="../test.js"></script>-->

    <script>

if (document.URL.includes('myoffers')) {
           
            document.querySelector('#OFFERS').classList.toggle('nav-menu__title__active')
            document.querySelector('#OFFERS_MOBILE').classList.toggle('nav-menu__title__active')

        }

let cardId;


window.onload = () => {
    masonry = new Masonry('.grid', {
    gutter: '.gutter-sizer',
    itemSelector: '.grid-item',
    columnWidth: '.grid-sizer',
    percentPosition: true,
    transitionDuration: '0.2s',
  });
};

document.querySelectorAll('.button-for-pop-up').forEach((el) => {
    el.addEventListener('click', () => {
        document.querySelector('.pop-up-delete').classList.toggle('pop-up-delete-active');
        cardId = parseInt(el.id.replace(/[^\d]/g, ''))

        })
})

document.querySelector('.pop-up-button-cancel').addEventListener('click', () => {
    document.querySelector('.pop-up-delete').classList.remove('pop-up-delete-active');
})

document.querySelector('.pop-up-button-confirm').addEventListener('click', () => {

    $.ajax ({
        url: '{% url "offers:delete-offer" %}',
        data: {
            'id': cardId,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        dataType: 'json',
        success: function(data) {
            $("#offer-" + cardId).remove();
            masonry = new Masonry('.grid', {
            gutter: '.gutter-sizer',
            itemSelector: '.grid-item',
            columnWidth: '.grid-sizer',
            percentPosition: true,
            transitionDuration: '0.2s',
        });
        },
        type: "POST",
    });

    document.querySelector('.pop-up-delete').classList.remove('pop-up-delete-active');
})


document.querySelectorAll('.check-pop-up').forEach((el) => {
            el.addEventListener('click', () => {
                document.querySelector('body').style.overflow = 'hidden';
                getImages(parseInt(el.id.replace(/[^\d]/g, '')), el);
            })
        })
         document.querySelector('.pop-up-exit').addEventListener('click', () => {
            document.querySelector('body').style.overflow = 'auto';
            document.querySelector('.pop-up-images').classList.remove('pop-up-delete-active');
        })



function getImages(id, el)
{
    document.querySelector('.loading').style.display = 'flex'
    $.ajax(
    {
        url: '{% url "offers:get-images" %}',
        data: {
            'id': id,
        },
        dataType: 'json',
        success: function(data) {
                 document.querySelector('.loading').style.display = 'none'

                 const output = document.querySelector(".images-container")
                 let images = "";

                 for (let i = 0; i < data.images.length; i++) {
                 const out = data.images[i]
                 console.log(out);

                    images += `
                <img src="${out}" alt="image" class="pop-up-img">
              `;
                 }
<!--                 images += ` <div style="margin-top: 32px" class=""></div> `-->
                 console.log(images);
                 output.innerHTML = images;
                 setTimeout(() => {}, "500")
                 if (window.getComputedStyle(document.querySelector('.header')).display === 'none') {
                    document.querySelector('.pop-up-images-title').innerHTML = el.parentNode.querySelector('.company-card-name').innerHTML
                    document.querySelector('.pop-up-input-title').innerHTML = el.parentNode.querySelector('.type-service').innerHTML
                    document.querySelector('.pop-up-input-price').innerHTML = el.parentNode.querySelector('.coupon-price').innerHTML
                } else {
                    document.querySelector('.pop-up-images-title').innerHTML = el.parentNode.parentNode.parentNode.parentNode.children[0].children[1].innerHTML
                    document.querySelector('.pop-up-input-title').innerHTML = el.parentNode.parentNode.parentNode.parentNode.children[2].children[0].children[0].children[3].innerHTML
                    document.querySelector('.pop-up-input-price').innerHTML = el.parentNode.parentNode.parentNode.children[0].children[0].children[1].innerHTML
                }
                
                document.querySelector('.pop-up-images').classList.toggle('pop-up-delete-active');
        },
        type: "GET",

    });

}



</script>

    </body>
{% endblock %}
</html>


