<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css">
        <title>Document</title>
    </head>
    <body>
        <header class="header">
            <div class="header-container">
                    <nav class="nav">
                        <div class="nav-logo">
                            <a href="#" class="nav-log__title">КроссМ</a>
                        </div>
                        <div class="menu">
                            <a href="#" class="nav-menu__title">Каталог</a>
                            <a href="#" class="nav-menu__title">Что такое КМ?</a>
                            <a href="#" class="nav-menu__title active">Мои предложения</a>
                            <div class="nav-menu__user">
                            <!-- <img class="nav-menu__user__img" src="../images/Dima.jpg"> -->
                            </div>
                        </div> 
                    </nav>
            </div>
        </header>

        <main class="main">
            <div class="container-padding">
            <div class="container">
                <div class="all-companies">
                    <!-- <span class="company">— Компания 1</span>
                    <span class="company">— Компания 1</span>    -->
                    <span class="company">Компания 1</span>   
                    <span class="company">Компания 2</span>   
                    <span class="company">Компания 3</span>   
                    <span class="company">Компания 4</span>   
                    <span class="company">Компания 5</span>   
                    <span class="company">Компания 6</span>   
                    <span class="company">Компания 7</span>   
                    <span class="company">Компания 8</span>   
                    <span class="company">Компания 9</span>   
                    <span class="company">Компания 10</span>   
                </div>
                <p class="add-offer">Добавить предложение</p>
                <div class="pop-up">
                    <div class="pop-up-arrow"></div>
                    <p class="p-pop-up">Пожалуйста, выберите компанию, от лица которой Вы хотите создать предложение</p>
                </div>
                <div class="grid">

                <div class="company-card">
                    <div class="content">
                    <div class="company-card-top">
                        <div class="company-card-logo"></div>
                        <p class="company-card-name">Компания 1</p>
                    </div>
                    <hr class="card-hr-solid">
                    <div class="company-card-main"> 
                        <div class="company-content-left">
                            <div class="">
                                <p class="company-key">Ниша</p>
                                <p class="company-value">Консалтинг в строительстве </p>
                                <p class="company-key">Услуга</p>
                                <p class="company-value no-bottom">Стрижка ногтей собакам и котам и верблюдам и</p>
                            
                            </div>
                        </div>
                        <!-- <div class="hr-solid-vertical"></div> -->
                        <div class="company-content-right">
                            <div class="flex-content-no-gap">
                                <div class="">
                                <p class="company-key">Количество купонов</p>
                                <p class="company-value">От 100 до 250</p>
                                </div>
                                <div class="">
                                <p class="company-key">Розничная цена</p>
                                <p class="company-value no-bottom">10 BYN</p>
                                </div>    
                            </div>
                        </div> 
                    </div>

                    <hr class="card-hr-solid">

                    <div class="company-card-main company-card-main-bottom"> 
                        <div class="company-content-left">
                            <div class=>
                                <p class="company-key">Цена купона</p>
                                <p class="company-value no-bottom">2 BYN</p>
                            
                            </div>
                        </div>
                        <!-- <div class="hr-solid-vertical"></div> -->
                        <div class="company-content-right">
                            <div class="flex-content-no-gap">
                                <button style="margin-top: -2px;" class="button">
                                    <p class="button-p">Посмотреть вложения</p>
                                </button>
                            </div>
                        </div>
                        
                    </div>

                    <hr style = 'margin-bottom: 20px' class="card-hr-solid ">
                    <div class="company-card-contacts">
                        <p class="contacts">Контакты</p>
                        <div class="div-flex">
               
                        <p style ='margin-bottom: 8px' class="contacts-mail">rararara@gmail.com</p>
                        <p style ='margin-bottom: 12px'class="contacts-phone">+375 29 888 88 88</p>
                    
                        <div class="">
                        <p class="contacts-name">Станислав Брониславович</p>
                        <p class="contacts-proffesion">— (Директор по закупкам)</p>
                        </div>
                    </div>
                    <hr class="hr-solid">
                    
                    </div>
                    <div class="company-card-buttons">
                        <button class="button button-282px">
                            <p class="button-p">Посмотреть вложения</p>
                        </button>
                        <button class="button button-282px">
                            <p class="button-p">Редактировать предложение</p>
                        </button>
                    </div></div>
                </div>


                <div class="company-card">
                    <div class="content">
                    <div class="company-card-top">
                        <div class="company-card-logo"></div>
                        <p class="company-card-name">Компания 2</p>
                    </div>
                    <hr class="card-hr-solid">
                    <div class="company-card-main"> 
                        <div class="company-content-left">
                            <div class="">
                                <p class="company-key">Ниша</p>
                                <p class="company-value">Консалтинг в строительстве и садоводстве</p>
                                <p class="company-key">Услуга</p>
                                <p class="company-value no-bottom">Стрижка </p>
                            
                            </div>
                        </div>
                        <!-- <div class="hr-solid-vertical"></div> -->
                        <div class="company-content-right">
                            <div class="flex-content-no-gap">
                                <div class="">
                                <p class="company-key">Количество купонов</p>
                                <p class="company-value">От 100 до 250</p>
                                </div>
                                <div class="">
                                <p class="company-key">Розничная цена</p>
                                <p class="company-value no-bottom">10 BYN</p>
                                </div>    
                            </div>
                        </div> 
                    </div>

                    <hr class="card-hr-solid">

                    <div class="company-card-main company-card-main-bottom"> 
                        <div class="company-content-left">
                            <div class=>
                                <p class="company-key">Цена купона</p>
                                <p class="company-value no-bottom">2 BYN</p>
                            
                            </div>
                        </div>
                        <!-- <div class="hr-solid-vertical"></div> -->
                        <div class="company-content-right">
                            <div class="flex-content-no-gap">
                                <button style="margin-top: -2px;" class="button">
                                    <p class="button-p">Посмотреть вложения</p>
                                </button>
                            </div>
                        </div>
                        
                    </div>

                    <hr style = 'margin-bottom: 20px' class="card-hr-solid ">
                    <div class="company-card-contacts">
                        <p class="contacts">Контакты</p>
                        <div class="div-flex">
               
                        <p style ='margin-bottom: 8px' class="contacts-mail">rararara@gmail.com</p>
                        <p style ='margin-bottom: 12px'class="contacts-phone">+375 29 888 88 88</p>
                    
                        <div class="">
                        <p class="contacts-name">Станислав Брониславович</p>
                        <p class="contacts-proffesion">— (Директор по закупкам)</p>
                        </div>
                    </div>
                    <hr class="hr-solid">
                    
                    </div>
                    <div class="company-card-buttons">
                        <button class="button button-282px">
                            <p class="button-p">Посмотреть вложения</p>
                        </button>
                        <button class="button button-282px">
                            <p class="button-p">Редактировать предложение</p>
                        </button>
                    </div></div>
                </div>

                <div class="company-card">
                    <div class="content">
                    <div class="company-card-top">
                        <div class="company-card-logo"></div>
                        <p class="company-card-name">Компания 2</p>
                    </div>
                    <hr class="card-hr-solid">
                    <div class="company-card-main"> 
                        <div class="company-content-left">
                            <div class="">
                                <p class="company-key">Ниша</p>
                                <p class="company-value">Консалтинг  adfs adsf adsf  ffsfsdf sd fasf a asdf  as df a  sdf s f sdfsadfa </p>
                                <p class="company-key">Услуга</p>
                                <p class="company-value no-bottom">Стрижка ногтей asdklfkjasdl kasdlkfj asld fjlasd flkasjjlf skjd fjas dk fjas</p>
                            
                            </div>
                        </div>
                        <!-- <div class="hr-solid-vertical"></div> -->
                        <div class="company-content-right">
                            <div class="flex-content-no-gap">
                                <div class="">
                                <p class="company-key">Количество купонов</p>
                                <p class="company-value">От 100 до 250</p>
                                </div>
                                <div class="">
                                <p class="company-key">Розничная цена</p>
                                <p class="company-value no-bottom">10 BYN</p>
                                </div>    
                            </div>
                        </div> 
                    </div>

                    <hr class="card-hr-solid">

                    <div class="company-card-main company-card-main-bottom"> 
                        <div class="company-content-left">
                            <div class=>
                                <p class="company-key">Цена купона</p>
                                <p class="company-value no-bottom">2 BYN</p>
                            
                            </div>
                        </div>
                        <!-- <div class="hr-solid-vertical"></div> -->
                        <div class="company-content-right">
                            <div class="flex-content-no-gap">
                                <button style="margin-top: -2px;" class="button">
                                    <p class="button-p">Посмотреть вложения</p>
                                </button>
                            </div>
                        </div>
                        
                    </div>

                    <hr style = 'margin-bottom: 20px' class="card-hr-solid ">
                    <div class="company-card-contacts">
                        <p class="contacts">Контакты</p>
                        <div class="div-flex">
               
                        <p style ='margin-bottom: 8px' class="contacts-mail">rararara@gmail.com</p>
                        <p style ='margin-bottom: 12px'class="contacts-phone">+375 29 888 88 88</p>
                    
                        <div class="">
                        <p class="contacts-name">Станислав Брониславович</p>
                        <p class="contacts-proffesion">— (Директор по закупкам)</p>
                        </div>
                    </div>
                    <hr class="hr-solid">
                    
                    </div>
                    <div class="company-card-buttons">
                        <button class="button button-282px">
                            <p class="button-p">Посмотреть вложения</p>
                        </button>
                        <button class="button button-282px">
                            <p class="button-p">Редактировать предложение</p>
                        </button>
                    </div></div>
                </div>

                <div class="company-card">
                    <div class="content">
                    <div class="company-card-top">
                        <div class="company-card-logo"></div>
                        <p class="company-card-name">Компания 2</p>
                    </div>
                    <hr class="card-hr-solid">
                    <div class="company-card-main"> 
                        <div class="company-content-left">
                            <div class="">
                                <p class="company-key">Ниша</p>
                                <p class="company-value">Консалтинг </p>
                                <p class="company-key">Услуга</p>
                                <p class="company-value no-bottom">Стрижка </p>
                            
                            </div>
                        </div>
                        <!-- <div class="hr-solid-vertical"></div> -->
                        <div class="company-content-right">
                            <div class="flex-content-no-gap">
                                <div class="">
                                <p class="company-key">Количество купонов</p>
                                <p class="company-value">От 100 до 250</p>
                                </div>
                                <div class="">
                                <p class="company-key">Розничная цена</p>
                                <p class="company-value no-bottom">10 BYN</p>
                                </div>    
                            </div>
                        </div> 
                    </div>

                    <hr class="card-hr-solid">

                    <div class="company-card-main company-card-main-bottom"> 
                        <div class="company-content-left">
                            <div class=>
                                <p class="company-key">Цена купона</p>
                                <p class="company-value no-bottom">2 BYN</p>
                            
                            </div>
                        </div>
                        <!-- <div class="hr-solid-vertical"></div> -->
                        <div class="company-content-right">
                            <div class="flex-content-no-gap">
                                <button style="margin-top: -2px;" class="button">
                                    <p class="button-p">Посмотреть вложения</p>
                                </button>
                            </div>
                        </div>
                        
                    </div>

                    <hr style = 'margin-bottom: 20px' class="card-hr-solid ">
                    <div class="company-card-contacts">
                        <p class="contacts">Контакты</p>
                        <div class="div-flex">
               
                        <p style ='margin-bottom: 8px' class="contacts-mail">rararara@gmail.com</p>
                        <p style ='margin-bottom: 12px'class="contacts-phone">+375 29 888 88 88</p>
                    
                        <div class="">
                        <p class="contacts-name">Станислав Брониславович</p>
                        <p class="contacts-proffesion">— (Директор по закупкам)</p>
                        </div>
                    </div>
                    <hr class="hr-solid">
                    
                    </div>
                    <div class="company-card-buttons">
                        <button class="button button-282px">
                            <p class="button-p">Посмотреть вложения</p>
                        </button>
                        <button class="button button-282px">
                            <p class="button-p">Редактировать предложение</p>
                        </button>
                    </div></div>
                </div>

                <div class="company-card">
                    <div class="content">
                    <div class="company-card-top">
                        <div class="company-card-logo"></div>
                        <p class="company-card-name">Компания 3</p>
                    </div>
                    <hr class="card-hr-solid">
                    <div class="company-card-main"> 
                        <div class="company-content-left">
                            <div class="">
                                <p class="company-key">Ниша</p>
                                <p class="company-value">Консалтинг в строительстве и садоводстве и еще много всего</p>
                                <p class="company-key">Услуга</p>
                                <p class="company-value no-bottom">Стрижка ногтей собакам и котам и верблюдам и</p>
                            
                            </div>
                        </div>
                        <!-- <div class="hr-solid-vertical"></div> -->
                        <div class="company-content-right">
                            <div class="flex-content-no-gap">
                                <div class="">
                                <p class="company-key">Количество купонов</p>
                                <p class="company-value">От 100 до 250</p>
                                </div>
                                <div class="">
                                <p class="company-key">Розничная цена</p>
                                <p class="company-value no-bottom">10 BYN</p>
                                </div>    
                            </div>
                        </div> 
                    </div>

                    <hr class="card-hr-solid">

                    <div class="company-card-main company-card-main-bottom"> 
                        <div class="company-content-left">
                            <div class=>
                                <p class="company-key">Цена купона</p>
                                <p class="company-value no-bottom">2 BYN</p>
                            
                            </div>
                        </div>
                        <!-- <div class="hr-solid-vertical"></div> -->
                        <div class="company-content-right">
                            <div class="flex-content-no-gap">
                                <button style="margin-top: -2px;" class="button">
                                    <p class="button-p">Посмотреть вложения</p>
                                </button>
                            </div>
                        </div>
                        
                    </div>

                    <hr style = 'margin-bottom: 20px' class="card-hr-solid ">
                    <div class="company-card-contacts">
                        <p class="contacts">Контакты</p>
                        <div class="div-flex">
               
                        <p style ='margin-bottom: 8px' class="contacts-mail">rararara@gmail.com</p>
                        <p style ='margin-bottom: 12px'class="contacts-phone">+375 29 888 88 88</p>
                    
                        <div class="">
                        <p class="contacts-name">Станислав Брониславович</p>
                        <p class="contacts-proffesion">— (Директор по закупкам)</p>
                        </div>
                    </div>
                    <hr class="hr-solid">
                    
                    </div>
                    <div class="company-card-buttons">
                        <button class="button button-282px">
                            <p class="button-p">Посмотреть вложения</p>
                        </button>
                        <button class="button button-282px">
                            <p class="button-p">Редактировать предложение</p>
                        </button>
                    </div></div>
                </div>

                <div class="company-card">
                    <div class="content">
                    <div class="company-card-top">
                        <div class="company-card-logo"></div>
                        <p class="company-card-name">Компания 1</p>
                    </div>
                    <hr class="card-hr-solid">
                    <div class="company-card-main"> 
                        <div class="company-content-left">
                            <div class="">
                                <p class="company-key">Ниша</p>
                                <p class="company-value">Консалтинг в строительстве и садоводстве</p>
                                <p class="company-key">Услуга</p>
                                <p class="company-value no-bottom">Стрижка ногтей собакам и котам и верблюдам и</p>
                            
                            </div>
                        </div>
                        <!-- <div class="hr-solid-vertical"></div> -->
                        <div class="company-content-right">
                            <div class="flex-content-no-gap">
                                <div class="">
                                <p class="company-key">Количество купонов</p>
                                <p class="company-value">От 100 до 250</p>
                                </div>
                                <div class="">
                                <p class="company-key">Розничная цена</p>
                                <p class="company-value no-bottom">10 BYN</p>
                                </div>    
                            </div>
                        </div> 
                    </div>

                    <hr class="card-hr-solid">

                    <div class="company-card-main company-card-main-bottom"> 
                        <div class="company-content-left">
                            <div class=>
                                <p class="company-key">Цена купона</p>
                                <p class="company-value no-bottom">2 BYN</p>
                            
                            </div>
                        </div>
                        <!-- <div class="hr-solid-vertical"></div> -->
                        <div class="company-content-right">
                            <div class="flex-content-no-gap">
                                <button style="margin-top: -2px;" class="button">
                                    <p class="button-p">Посмотреть вложения</p>
                                </button>
                            </div>
                        </div>
                        
                    </div>

                    <hr style = 'margin-bottom: 20px' class="card-hr-solid ">
                    <div class="company-card-contacts">
                        <p class="contacts">Контакты</p>
                        <div class="div-flex">
               
                        <p style ='margin-bottom: 8px' class="contacts-mail">rararara@gmail.com</p>
                        <p style ='margin-bottom: 12px'class="contacts-phone">+375 29 888 88 88</p>
                    
                        <div class="">
                        <p class="contacts-name">Станислав Брониславович</p>
                        <p class="contacts-proffesion">— (Директор по закупкам)</p>
                        </div>
                    </div>
                    <hr class="hr-solid">
                    
                    </div>
                    <div class="company-card-buttons">
                        <button class="button button-282px">
                            <p class="button-p">Посмотреть вложения</p>
                        </button>
                        <button class="button button-282px">
                            <p class="button-p">Редактировать предложение</p>
                        </button>
                    </div></div>
                </div>

                <div class="company-card">
                    <div class="content">
                    <div class="company-card-top">
                        <div class="company-card-logo"></div>
                        <p class="company-card-name">Компания 4</p>
                    </div>
                    <hr class="card-hr-solid">
                    <div class="company-card-main"> 
                        <div class="company-content-left">
                            <div class="">
                                <p class="company-key">Ниша</p>
                                <p class="company-value">Консалтинг в строительстве и садоводстве</p>
                                <p class="company-key">Услуга</p>
                                <p class="company-value no-bottom">Стрижка ногтей собакам и котам и верблюдам и</p>
                            
                            </div>
                        </div>
                        <!-- <div class="hr-solid-vertical"></div> -->
                        <div class="company-content-right">
                            <div class="flex-content-no-gap">
                                <div class="">
                                <p class="company-key">Количество купонов</p>
                                <p class="company-value">От 100 до 250</p>
                                </div>
                                <div class="">
                                <p class="company-key">Розничная цена</p>
                                <p class="company-value no-bottom">10 BYN</p>
                                </div>    
                            </div>
                        </div> 
                    </div>

                    <hr class="card-hr-solid">

                    <div class="company-card-main company-card-main-bottom"> 
                        <div class="company-content-left">
                            <div class=>
                                <p class="company-key">Цена купона</p>
                                <p class="company-value no-bottom">2 BYN</p>
                            
                            </div>
                        </div>
                        <!-- <div class="hr-solid-vertical"></div> -->
                        <div class="company-content-right">
                            <div class="flex-content-no-gap">
                                <button style="margin-top: -2px;" class="button">
                                    <p class="button-p">Посмотреть вложения</p>
                                </button>
                            </div>
                        </div>
                        
                    </div>

                    <hr style = 'margin-bottom: 20px' class="card-hr-solid ">
                    <div class="company-card-contacts">
                        <p class="contacts">Контакты</p>
                        <div class="div-flex">
               
                        <p style ='margin-bottom: 8px' class="contacts-mail">rararara@gmail.com</p>
                        <p style ='margin-bottom: 12px'class="contacts-phone">+375 29 888 88 88</p>
                    
                        <div class="">
                        <p class="contacts-name">Станислав Брониславович</p>
                        <p class="contacts-proffesion">— (Директор по закупкам)</p>
                        </div>
                    </div>
                    <hr class="hr-solid">
                    
                    </div>
                    <div class="company-card-buttons">
                        <button class="button button-282px">
                            <p class="button-p">Посмотреть вложения</p>
                        </button>
                        <button class="button button-282px">
                            <p class="button-p">Редактировать предложение</p>
                        </button>
                    </div></div>
                </div>

            </div>

            </div>
            <!-- <hr class="hr-solid-vertical-right"> -->
        </div>
        </main>
        <footer class="footer">
            <div class="footer-container">
                <hr class="hr-solid mg-bottom-48px">
                <div class="footer-content">
                    <div class="footer-logo">
                        <a href="#" class="nav-log__title">КроссМ</a>
                    </div>
                    <div class="footer-arrow">
                        <svg width="100%" height="100%" viewBox="0 0 522 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 7C0.447715 7 4.82823e-08 7.44772 0 8C-4.82823e-08 8.55228 0.447715 9 1 9L1 7ZM521.707 8.70715C522.098 8.31663 522.098 7.68346 521.707 7.29294L515.343 0.928977C514.953 0.538453 514.319 0.538453 513.929 0.928977C513.538 1.3195 513.538 1.95267 513.929 2.34319L519.586 8.00005L513.929 13.6569C513.538 14.0474 513.538 14.6806 513.929 15.0711C514.319 15.4616 514.953 15.4616 515.343 15.0711L521.707 8.70715ZM1 9L521 9.00005L521 7.00005L1 7L1 9Z" fill="#E6E6E6"/>
                        </svg>
                    </div>
                    <div class="footer-nav">
                    <div class="footer-top-titles">
                        <span class="nav-menu__title">Каталог</span>
                        <span class="nav-menu__title">Что такое КМ?</span>
                        <span class="nav-menu__title">Мои предложения</span>
                    </div>
                        <p class="nav-menu__title">Политика конфиденциальности</p>
                    </div>
                </div>
                <div class="footer-contacts">
                    <p class="prava">Все права защищены @2023</p>
                    <p class="developer">Сайт разработан командой Старрук инк :)</p>
                </div> 
            </div>
        </footer>
        <!-- <div class="bottom-margin"></div> -->
        <script src="../js/sort-companies.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js'></script><script  src="../test.js"></script>
    </body>

</html>