
        <header class="header">
            <div class="header-container">
                    <nav class="nav">
                        <div class="nav-logo">
                            <a href="#" class="nav-log__title">КроссМ</a>
                        </div>
                        <div class="menu">
                            <a href="#" class="nav-menu__title">Каталог</a>
                            <a href="#" class="nav-menu__title">Что такое КМ?</a>
                            <a href="#" class="nav-menu__title">Мои предложения</a>
                            <div class="nav-menu__user">
                            <!-- <img class="nav-menu__user__img" src="../images/Dima.jpg"> -->
                            </div>
                        </div>
                    </nav>
            </div>
        </header>