
<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/styles/choices.min.css"/>
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		{% include "favicon.html" %}
        <title>Pmarket | Помощь от разработчиков</title>
    </head>
    <body>
		{% include "base.html" %}
        <main>
            <div class="container-padding">
            <div class="container">
                <h2 class="main-title">
                    Помощь от разработчиков
                </h2>
                <hr class="hr-solid">
                <form method="post">
					{% csrf_token %}
                    <div style="display:block;" class="inputs">
                        <div style="max-width:580px;" class="inputs-part inputs-part__double">
                            
                            <ol style="color: rgba(0, 0, 0, 0.6); margin-bottom:20px;" class="ol-description">
                                <li class="li-description">Напишите, пожалуйста, чем Вы занимаетесь, и укажите, как с Вами лучше связаться и в какое время.</li>
                                <li class="li-description">Если у Вас есть конкретный вопрос — мы подготовим письменный ответ и отправим его в ближайшее время.</li>
                                <li class="li-description">Если Вы хотите узнать больше про кросс-маркетинг и проконсультироваться конкретно насчет Вашей компании — выполните пункт 1 и напишите ПОМОЩЬ. Мы свяжемся с Вами, чтобы уточнить все детали.</li>        
                              </ol>   
                            <!-- <div class="bottom-16px"></div>
                            <p class="input__comment">Если в списке нет Вашего города, 
                            <br>выберите ближайший областной центр</p> -->
                        </div>        
                        <div class="inputs-part inputs-part__double">
                            <div class="book-attributes">
                                <p class="inputs-part__title">Сообщение</p>
                                <div class="add-book-description">
                                    <textarea name="message" class="input-textarea" wrap="soft" type="text" maxlength="500" placeholder="Введите сообщение"></textarea>
                                </div>
                                <!-- <p class="input__comment">Здесь Вы можете написать предпочтительное время для связи. Можете так же указать удобный мессенджер или написать что-то полезное или смешное :)</p> -->
                            </div>
                        </div>      
                    </div>
                    <div class="line line__bottom-12px">
                        <hr class="line__dashed line__dashed-620">
                        
                    </div>
                    <div class="phone-input__right margin-bottom-40px">
                        <label class="label">
                            <input name="contact" class="check-box" type="checkbox" required>
                            <span class="check-style"></span>
                            <span class="check-text">Нажимая на кнопку Вы соглашаетесь с политикой конфиденциальности</span> 
                        </label>  
                    </div>
                    <div class="button-submit">
                        <button class="button" type="submit">
                            <p class="button-p">Отправить</p>
                        </button>
                        
                    </div>   
                </form>
            </div>     
        </div>
        </main>
{% include "footer.html" %}
       
        <!-- <div class="bottom-margin"></div> -->
        <script src="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/scripts/choices.min.js"></script>
    </body>


</html>