<!DOCTYPE html>
{% load static %}




<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Document</title>
    </head>
    <body>

    {% include "base.html" %}

{% block content %}
{% if owner %}

        <main class="main">
            <div class="container-padding">
            <div class="container-main">
                <div class="profile">
                    <div class="profile-user">
                        <div class="profile-user-left">

                            <div class="profile-user__logo">
                            {% if user.profile_set.all.0.photo %}
                            <img class="profile-user__img" id="image" src="{{user.profile_set.all.0.photo.url}}">
                            <a id="dela" onclick="deletePhoto({{request.user.id}})" class="delete-photo">Удалить фото</a>
<!--                            <p onclick="deletePhoto({{request.user.id}})">Удалить фото</p>-->
                            {% endif %}
                                </div>

                        </div>
                        <div class="profile-user-right">
                            <h1 class="profile-user__name">{{user.first_name}} {{user.last_name}}</h1>
                            <div class="city-info">
                                <span class="profile-user__city">Город:&nbsp</span>
                                <span class="profile-user__city__name">
                                    {% if user.profile_set.all.0.city.city %}
                                    {{user.profile_set.all.0.city.city}}
                                    {% else %}
                                    -
                                    {% endif %}
                                </span>
                                <div class="">
                                <span class="profile-user__city">Последний раз был:&nbsp</span>
                                <span class="profile-user__city__name">{{seen}}</span>
                            </div>
                            </div>
                            <div class="profile-user__buttons">
                                <div class="button-240px">
                                    <button class="button" onclick="window.location.href = '{% url 'update-profile' %}'">
                                        <p class="button-p">Редактировать профиль</p>
                                    </button>
                                </div>
                                <div class="button-240px">
                                    <button class="button" type="submit">
                                        <p class="button-p">Настройки</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-contacts">
                        <h2 class="profile-contacts__title">Контакты</h2>
                        <div class="profile-user__mail">
                            <p class="user__mail">{{user.email}}</p>
                        </div>
                        {% if user.profile_set.all.0.phone_num_show %}
                        <div class="profile-user__phone">
                            <p class="user__phone">{{user.profile_set.all.0.phone_num}}</p>
<!--                            <div class="user__phone__logo"></div>-->
                        </div>
                        {% endif %}
                    </div>
                </div>

                <section>

                    <div class="pop-up-delete">
                        <div class="pop-up-container">
                            <div class="pop-up-body">
                                <p class="pop-up-title">Вы уверены, что хотите удалить эту компанию?
                                </p>
                                <div class="pop-up-buttons">
                                    <div class="pop-up-button pop-up-button-cancel">
                                        <button class="button">
                                            <p class="button-p">Отменить</p>
                                        </button> 
                                    </div>
                                    <div class="pop-up-button pop-up-button-confirm">
                                        <button class="button">
                                            <p class="button-p">Удалить</p>
                                        </button> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-container">
                        <div style="align-items: center" class="flex">
                <h2 class="profile-content-title">Компании</h2>
                <a href="{% url 'companies:create-company' %}" class="add-something">Добавить компанию</a>
              </div>
{% if not user.companies_set.all %}
                   <p style="position: static; margin-top: -10px" class="p-no-reviews">
                У вас пока нет компаний
              </p>
{% endif %}

                        <div class="grid">
                            <div class="grid-sizer"></div>
                            <div class="gutter-sizer"></div>

                            {% for company in user.companies_set.all %}

                        <div class="card grid-item" id="company-{{company.id}}">
                            <div class="card-info">
                                <div class="card__logo"></div>
                                <div class="card__info">
                                    <h3 onclick="window.location.href = '{% url 'companies:company-page' company.id %}'" class="company-name">{{company.title}}</h3>
                                    <div class="company-title">
                                        <span class="company-sphere">Ниша:&nbsp</span>
                                        <span class="company-sphere-name">{{company.niche}}</span>
                                    </div>
                                    <div class="company-title company-title-12px">
                                        <span class="company-position">Должность в компании:&nbsp</span>
                                        {% if company.role %}
                                        <span class="company-position-name">{{company.role}}</span>
                                        {% else %}
                                        <span class="company-position-name">-</span>
                                        {% endif %}
                                    </div>

                                    {% if company.link %}
                                    <a style="margin-bottom: 24px;" href="{{company.link}}" class="company-link">{{company.link}}</a>
                                    {% else %}
                                    <a style="margin-bottom: 24px;" href="{% url 'companies:company-page' company.id %}" class="company-link">{% url 'companies:company-page' company.id %}</a>
                                    {% endif %}

                                </div>
                                <div class="card-reviews">
                                    <span class="reviews-count">Отзывы(7)</span>
                                    <div class="rating-mini">
                                        <span class="active"></span>
                                        <span class="active"></span>
                                        <span class="active"></span>
                                        <span class="not-active"></span>
                                        <span class="not-active"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-user__buttons profile-user__buttons__gap-12px">
                            <div class="button-278px">
                                <button class="button button-long" onclick="window.location.href = '{% url 'companies:update-company' company.id %}?next={{ request.path|urlencode }}'">
                                    <p class="button-p">Редактировать компанию</p>
                                </button>
                            </div>
                            <div class="button-278px">
                                <button id="{{company.id}}" class="button button-long button-for-pop-up">
                                    <p class="button-p">Удалить компанию</p>
                                </button>
                            </div>
                            </div>
                        </div>

                            {% endfor %}

                        </div>

                    </div>
                </section>

            </div>
        </div>
        </main>

    {% else %}

        <main class="main">
            <div class="container-padding">
            <div class="container-main">
                <div class="profile">
                    <div class="profile-user">
                        <div class="profile-user-left">
                            <div class="profile-user__logo"></div>
                        </div>
                        <div class="profile-user-right">
                            <h1 class="profile-user__name">{{user.first_name}} {{user.last_name}}</h1>
                            <div class="city-info">
                                <span class="profile-user__city">Город:&nbsp</span>
                                <span class="profile-user__city__name">
                                    {% if user.profile_set.all.0.city.city %}
                                    {{user.profile_set.all.0.city.city}}
                                    {% else %}
                                    -
                                    {% endif %}
                                </span>
                            </div>
                            <div class="profile__remark">
                                {% if user.profile_set.all.0.bio %}
                                {{user.profile_set.all.0.bio}}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="profile-contacts">
                        <h2 class="profile-contacts__title">Контакты</h2>
                        <div class="profile-user__mail">
                            <p class="user__mail">{{user.email}}</p>
                        </div>
                        {% if user.profile_set.all.0.phone_num_show %}
                        <div class="profile-user__phone">
                            <p class="user__phone">{{user.profile_set.all.0.phone_num}}</p>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <section>

                    <div class="card-container">
                        <h2 class="profile-content-title">
                            Компании
                        </h2>
                        {% if not user.companies_set.all %}
                   <p style="position: static; margin-top: -10px" class="p-no-reviews">
                       У этого пользователя пока нет компаний
              </p>
{% endif %}
                        <div class="grid">
                            <div class="grid-sizer"></div>
                            <div class="gutter-sizer"></div>

                            {% for company in user.companies_set.all %}

                        <div class="card grid-item" id="company-{{company.id}}">
                            <div class="card-info">
                                <div class="card__logo"></div>
                                <div class="card__info">
                                    <h3 onclick="window.location.href = '{% url 'companies:company-page' company.id %}'" class="company-name">{{company.title}}”</h3>
                                    <div class="company-title">
                                        <span class="company-sphere">Ниша:&nbsp</span>
                                        <span class="company-sphere-name">{{company.niche}}</span>
                                    </div>
                                    <div class="company-title company-title-12px">
                                        <span class="company-position">Должность в компании:&nbsp</span>
                                        {% if company.role %}
                                        <span class="company-position-name">{{company.role}}</span>
                                        {% else %}
                                        <span class="company-position-name">-</span>
                                        {% endif %}
                                    </div>
                                    {% if company.link %}
                                    <a href="{{company.link}}" class="company-link">{{company.link}}</a>
                                    {% else %}
                                    <a href="{% url 'companies:company-page' company.id %}" class="company-link">{% url 'companies:company-page' company.id %}</a>
                                    {% endif %}
                                </div>
                                <div class="card-reviews">
                                    <span class="reviews-count">Отзывы(7)</span>
                                    <div class="rating-mini">
                                        <span class="active"></span>
                                        <span class="active"></span>
                                        <span class="active"></span>
                                        <span class="not-active"></span>
                                        <span class="not-active"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                            {% endfor %}

                        </div>
                    </div>


                </section>
            </div>
            </div>
        </main>
        <!-- <div class="bottom-margin"></div> -->

    {% endif %}

        {% include "footer.html" %}
        <!-- <div class="bottom-margin"></div> -->

<!--<form id="files" method="post" enctype="multipart/form-data">-->
<!--    {% csrf_token %}-->
<!--    <input name="image" type="file" />-->
<!--    <button>Сохранить</button>-->
<!--</form>-->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
    <script>

    $("form#files").submit(function(){

    var formData = new FormData($(this)[0]);

    $.ajax({
        url: '{% url "upload-photo" %}',
        type: 'POST',
        data: formData,
        async: false,
        success: function (data) {

                    let out = data.image
                    console.log(out)

              document.querySelector(".nav-menu__user__img").src=out;
              document.querySelector(".profile-user__img").src=out;
        },
        cache: false,
        contentType: false,
        processData: false
    });

    return false;
});



let cardId;
let masonry;

window.onload = () => {
    masonry = new Masonry('.grid', {
    gutter: '.gutter-sizer',
    itemSelector: '.grid-item',
    columnWidth: '.grid-sizer',
    percentPosition: true,
    transitionDuration: '0.2s', 
  });
};

document.querySelectorAll('.button-for-pop-up').forEach((el) => {
    el.addEventListener('click', () => {
        document.querySelector('.pop-up-delete').classList.toggle('pop-up-delete-active');
        cardId = el.id
           
        })
})  

document.querySelector('.pop-up-button-cancel').addEventListener('click', () => {
    document.querySelector('.pop-up-delete').classList.remove('pop-up-delete-active');
})  

document.querySelector('.pop-up-button-confirm').addEventListener('click', () => {

    $.ajax ({
        url: '{% url "companies:delete-company" %}',
        data: {
            'id': cardId,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        dataType: 'json',
        success: function(data) {
            $("#company-" + cardId).remove();
            masonry = new Masonry('.grid', {
            gutter: '.gutter-sizer',
            itemSelector: '.grid-item',
            columnWidth: '.grid-sizer',
            percentPosition: true,
            transitionDuration: '0.2s', 
        });
        },
        type: "POST",
    });

    document.querySelector('.pop-up-delete').classList.remove('pop-up-delete-active');            
})


function deletePhoto(id){

    $.ajax ({
        url: '{% url "delete-photo" %}',
        data: {
            'id': id,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        dataType: 'json',
        success: function(data) {
            $("#image").remove();
            $("#header-image").remove();
            $("#dela").remove();
        },
        type: "POST",
    });
    }

    </script>
    

    </body>
{% endblock %}
</html>
