<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<title>Title</title>

</head>
<body>
	<button onclick="checkRefCode('4ff624ac4d71')">gogo</button>
<p>kgtfiytc</p>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
      function checkRefCode(ref_code)

{
          $.ajax({
            url: '{% url "check-ref-code" %}',
            data: {
              'ref_code': ref_code,
				'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: "json",
            success: function (data) {
				if (data.success){
					console.log('gogo');
				}
				else {
					console.log('fuck');
				}
            },
            type: "POST",
          });

}
</script>
</body>
</html>