<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/styles/choices.min.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/loading.css' %}" />
		{% include "favicon.html" %}
        <title>PMarket | Стать членом платформы</title>
    </head>
    <body>
    {% include "base.html" %}
{% block content %}

        <main class="main">
        <div class="container-padding">
		<div class="enrollment">
			
				<h2 class="main-title enrollment-title">
					Эта страница доступна только членам нашей платформы
				</h2>
                <hr class="hr-solid left-8px enrollment-hr">
				<p class="enrollment-text enrollment-12px">
					Чтобы стать членом нашей платформы, Вас должен пригласить уже активный пользователь.
				</p>
				<p class="enrollment-text">
					Увидеть полный список функций, доступных членам платформы 
					<a href="{% url 'instruction' %}" class="login enrollment-a">можно по этой ссылке</a>
				</p>
				<div class="enrollment-ol">
					<p class="enrollment-li">1. Если у Вас уже есть код, введите его в форму и нажмите “Отправить”.</p>
					<p class="enrollment-li">2. Если кода нет, то напишите нам напрямую. Мы выдадим Вам код доступа в течение 2 часов.</p>
				</div>
                <form action="" method="post">
                <input type="text" class="input enrollment-input" placeholder="Введите код">
				<div class="button-submit mobile-not-flex enrollment-button">
					<button class="button button-240px" onclick="checkRefCode()" type="submit">
						<p class="button-p">Отправить</p>
					</button>

					<a href="{% url 'tech-help' %}" class="a-account support-mobile">
						Написать разработчикам
					</a>
				</div>
                </form>
			
		</div>
                
        </div>
        </main>

        {% include "footer-mobile.html" %}

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script>
      function checkRefCode()

{       let code = document.querySelector('.enrollment-input').value;
          $.ajax({
            url: '{% url "check-ref-code" %}',
            data: {
              'ref_code': code,
				'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: "json",
            success: function (data) {
				if (data.success){
					console.log('gogo');
                    window.location.href = "{% url 'offers:catalog' %}";
				}
				else {
                    alert('Код неверный')
					console.log('wrong');
				}
            },
            type: "POST",
          });

}
</script>
    </body>
{% endblock %}
</html>
