<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
	  {% include "favicon.html" %}
    <title>PMarket | Что такое Кросс-маркетинг?</title>
  </head>
  <body>
        {% include "base.html" %}

{% block content %}

<main style="margin-top: -12px; margin-bottom: 0px;" class="main">
  <div class="container-padding">
    <div style="padding: 50px;" class="container">
    <div
      style="position: relative; padding-bottom: 50%"
      class="container-main"
    >
      <iframe
        class="iframe"
        src="https://www.youtube.com/embed/45rhFKOk9JM"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
<!--		<form id="help" method="post">-->
<!--			<input type="hidden" name="g_type" value="generate_coupon_ideas">-->
<!--			{% csrf_token %}-->
<!--			<button type="submit">go</button>-->
<!--		</form>-->

<!--		<input id="coupon-company" type="text" name="company">-->
<!--		<input id="coupon-type" type="hidden" name="g_type" value="generate_coupon_ideas">-->
<!--		<button onclick="get_AI_help()">hhh</button>-->

  </div>
  </div>
</main>

<main style="margin-top: 20px; margin-bottom: 80px;" class="main">
  <div class="container-padding">
      <!-- Если ответы есть -->
      <div style="margin-bottom:20px;" class="guid">
        <div class="guid-left">
          <p class="guid-p">Получить помощь от искусственного интеллекта</p>
          <p class="description">Описание Вашем бизнесе</p>
          <div class="inputs-part__div">
            <input class="input input-620px input-description" id="coupon-company" type="text" name="company" maxlength="100" placeholder="Введите название компании" required>
          </div>
          <p style="margin-left: 34px; margin-bottom: 20px;" class="description-example">Напишите про Вашу компанию. Например, ФРИЛАНСЕР ДИЗАЙНЕР, или ПРЕМИУМ СТУДИЯ ДИЗАЙНА ИНТЕРЬЕРА, или ДИЛЕР ПО ПРОДАЖЕ АВТОМОБИЛЕЙ БМВ, или ТРЕНАЖЕРНЫЙ ЗАЛ БЮДЖЕТНОГО СЕГМЕНТА и так далее</p>
          <div style="margin-bottom: 28px'" class="line__dashed"></div>
          <div style="gap:22px;" class="button-choice">
            <button style="max-width:100%;" class="button" onclick="get_AI_help('generate_coupon_ideas')">
                <p class="button-p">Какие купоны я могу предложить?</p>
            </button>
            <button style="max-width:100%;" class="button" onclick="get_AI_help('generate_possible_partners')">
                <p class="button-p">Какого партнера мне искать?</p>
            </button>
        </div> 
        </div>
        <div class="guid-right">
          <p class="guid-p">Правила использования сервиса</p>
          <ol class="ol-description" style="margin-bottom:20px;">
            <li class="li-description">Вы можете сделать не более 4 запросов в день, поэтому внимательно заполните поле и не нажимайте на кнопку бездумно;</li>
            <li class="li-description">Нажмите на 1 кнопку — дождитесь ответа — прочитайте его — нажмите другую кнопку. Как только Вы нажмёте другую кнопку, предыдущий ответ исчезнет;</li>
            <li class="li-description">Эти советы не панацея, но возможно они смогут натолкнуть Вас на размышления;</li>
            <li class="li-description">Если Вы совсем не понимаете, как взаимодействовать с платформой и какие кросс-маркетинговые акции можно придумать именно в Вашем случае — напишите нам. Наша команда поможет Вам найти идею.</li>
          </ol>
          <div class="button-submit">
            <button style="max-width:calc(50% - 10px);" class="button" type="submit" onclick="window.location.href = '{% url 'crossm-help' %}'">
                <p class="button-p">Написать команде разработчиков</p>
            </button>
        </div> 
        </div>
      </div>


      <!-- Error message middle with red border -->

         <div class="error-item ai-error" style="display:none;">
          <div class="guid-p">
            Ответ от искуственного интеллекта
          </div>
          <div style="margin-left: 0px;" class="description">
            К сожалению, прямо сейчас мы не можем Вам подсказать.<br>Попробуйте еще раз через несколько минут. <br>
			  Возможно, Вы превысили дневной лимит в 4 запроса :(
          </div>
        </div>
       

      <div style="display: none;" class="guid" id="answers" >

        <div id="guid-left-default" class="guid-left">
          <p class="guid-p">Ответ от искуственного интеллекта <em><b>(RU)</b></em></p>
          <ol class="ol-description ol-description-ru">
          </ol> 
        </div>
        
        <!-- error message left with red border -->

        <div id="guid-left-red" style="display:none;" class="guid-left guid-left-red">
          <p class="guid-p">Ответ от искуственного интеллекта <em><b>(RU)</b></em></p>
          <div style="margin-left: 0px;" class="description">
            К сожалению, прямо сейчас перевод не доступен.<br>Попробуйте еще раз через несколько минут или переведите самостоятельно.
          </div>
        </div>

        <div class="guid-right">
          <p class="guid-p">Ответ от искуственного интеллекта <em><b>(EN)</b></em></p>
          <ol class="ol-description ol-description-en">
          </ol>
        </div>
      </div>


      <div style="display: none; margin-top:20px;" class="guid" id="attention">
          <div class="guid-left">
            <p class="guid-p">Уточняем!</p>
            <ol class="ol-description">
              <li class="li-description">Если Вас совсем не устраивает ответ, то Вы можете попробовать нажать на ту же кнопку еще раз. Это может помочь.</li>
              <li class="li-description">Все запросы делаются на английском языке, поэтому мы предлагаем Вам 2 варианта — оригинал и перевод на русский язык.</li>
              <li class="li-description">Вводить данные можно как на русском, так и на английском языках</li>        
            </ol>          
          </div>
      </div>

      <!-- Если нет ответа -->
      <div style="margin-top:20px;" class="guid" id="no-question">
        <div class="guid-left">
          <p style="margin-bottom: 16px;" class="guid-p">Ответ от искуственного интеллекта</p>
          <p class="no-answer">Вы пока ничего не спросили</p>       
        </div>
      </div>

  </div>
</main>

    {% include "footer.html" %}
    <!-- <div class="bottom-margin"></div> -->
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>

if (document.URL.includes('whatis')) {
  
            document.querySelector('#KM').classList.toggle('nav-menu__title__active')
        }

function get_AI_help(g_type){

    let company = document.getElementById('coupon-company').value
<!--    let g_type = document.getElementById('coupon-type').value-->


    $.ajax({
        url: '{% url "get-ai-help" %}',
        type: 'GET',
        data: {
        'company': company,
        'g_type': g_type,
        'lang': 'ru'
        },
        success: function (data) {
        if (!data.text.error && data.text != 'banned'){

					document.getElementById('no-question').style.display = 'none';
					document.getElementById('answers').style.display = 'flex';

          let deleteElementsEN = document.querySelector('.ol-description-en');
          while (deleteElementsEN.firstChild) {
            deleteElementsEN.removeChild(deleteElementsEN.firstChild);
          }

          let deleteElementsRU = document.querySelector('.ol-description-ru');
          while (deleteElementsRU.firstChild) {
            deleteElementsRU.removeChild(deleteElementsRU.firstChild);
          }

          let textEN = data.text.original;
          textEN.slice(2).split('\n').forEach((el,index) => {
            let li = document.createElement('div');
            li.classList.toggle('li-description');
            li.classList.toggle('li');
            li.innerHTML = el
            document.querySelector('.ol-description-en').append(li)
          })

          if(data.text.translated != 'error') {

            let textRU = data.text.translated;
            console.log(textRU)
            textRU.slice(1).split('\n').forEach((el,index) => {
              let li = document.createElement('div');
              li.classList.toggle('li-description');
              li.classList.toggle('li');
              li.innerHTML = el
              document.querySelector('.ol-description-ru').append(li)
            })
          } else {
            document.querySelector('#guid-left-default').style.display = 'none';
            document.querySelector('#guid-left-red').style.display = 'block';
          }


					document.getElementById('attention').style.display = 'flex';


}

else {
document.getElementById('answers').style.display = 'none';
document.querySelector('.ai-error').style.display = 'block';
document.querySelector('#no-question').style.display = 'none';
                    let out = data.text
                    console.log(out)
                    }
        },
    });
};
  </script>
  </body>
{% endblock %}
</html>