<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>PMarket | Что такое Кросс-маркетинг?</title>
  </head>
  <body>
        {% include "base.html" %}

{% block content %}

<main style="margin-top: -12px;" class="main">
  <div class="container-padding">
    <div style="padding: 50px;" class="container">
    <div
      style="position: relative; padding-bottom: 50%"
      class="container-main"
    >
      <iframe
        class="iframe"
        src="https://www.youtube.com/embed/C5q0ULg0nmY"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  </div>
</main>

    {% include "footer.html" %}
    <!-- <div class="bottom-margin"></div> -->
  </body>
{% endblock %}
</html>