<!DOCTYPE html>






{{company.role}}




{% for offer in company.offers_set.all %}
{{offer.type}}
{{offer.coupon_price}}
{{offer.currency}}
{{retail_price}}
{{offer.title}}
{{offer.amount}}
{% endfor %}

{{ owner }}
{{ owner }}
{{ owner }}
{{ owner }}
{{ owner }}
{{ owner }}


{% load static %}
{% load widget_tweaks %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Document</title>
    </head>
    <body>

    {% include "base.html" %}
    {% block content %}

        <main class="main">
            <div class="container-padding">
            <div class="container-main">
                <div class="profile">
                    <div class="profile-owner">
                        <div class="profile-user-left">
                            <div class="profile-user__logo"></div>
                        </div>
                        <div class="profile-user-right">
                            <h1 class="profile-user__name">{{company.title}}</h1>
                            <div class="owner-info">
                                <div class="owner-info-item">
                                    <span class="profile-user__city">Страна:&nbsp</span>
                                    <span class="profile-user__city__name">{{company.country_of_res.country}}</span>
                                </div>

                                <div class="owner-info-item">
                                    <span class="profile-user__city">УНП:&nbsp</span>
                                    <span class="profile-user__city__name">{{company.status}}</span>
                                </div>

                                <div class="owner-info-item">
                                    <span class="profile-user__city">Ниша:&nbsp</span>
                                    <span class="profile-user__city__name">{{company.niche}}</span>
                                </div>
                                {% if company.link %}
                                <div class="owner-info-item">
                                    <a style="display: block;" href="{{company.link}}" style="margin-bottom: 28px;" class="company-link">{{company.link}}</a>
                                </div>
                                {% endif %}

                            </div>
                            <div class="profile-user__buttons">
                                <div class="button-240px">
                                    <button class="button" onclick="window.location.href = '{% url 'companies:update-company' company.id %}'">
                                        <p class="button-p">Редактировать компанию</p>
                                    </button>
                                </div>
                                <div class="button-240px">
                                    <button class="button" onclick="window.location.href = '{% url 'companies:update-company' company.id %}'">
                                        <p class="button-p">Удалить компанию</p>
                                    </button>
                                </div>
                                <div class="button-240px">
                                    <button class="button button-ynp">
                                        <p class="button-p">Проверить УНП</p>
                                    </button>
                                </div>
                                <div class="button-240px">
                                    <button class="button" onclick="window.location.href = '{% url 'offers:create-offer' company.id %}'">
                                        <p class="button-p">Добавить предложение</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <section style="display: flex; column-gap: 24px;">

                    <div class="container-scroll">

                        <div class="flex">
                            <div class="reviews-container">
                                <div class="reviews-info">
                                    <div class="main-title profile-title">
                                        Отзывы&nbsp(11)
                                    </div>
                                    <div class="rating-small">
                                        <span class="active"></span>
                                        <span class="active"></span>
                                        <span class="active"></span>
                                        <span class="active"></span>
                                        <span class="not-active"></span>
                                    </div>
                                    <div class="count-reviews">4&nbspиз&nbsp5</div>
                                    <div class="reviews-stars"></div>
                                    <div class="read-reviews">Читать&nbspвсе&nbspотзывы</div>
                                    <div class="write-reviews">Написать&nbspотзыв</div>
                                </div>

                                <div class="flex-column">
                                <div class="profile-user-small">

                                    <div class="profile-user-left">
                                        <div class="profile-user__logo-small"></div>
                                    </div>
                                <div class="profile-user-right">
                                    <h1 class="profile-user__name-small">Станислав Брониславович</h1>
                                    <div class="city-info-small info-flex">
                                        <div class="">
                                            <span class="profile-user__city-small">Город:&nbsp</span>
                                            <span class="profile-user__city__name-small">Минск</span>
                                        </div>
                                        <div class="date-review">15.01.2023</div>
                                    </div>
                                    <div class="profile__remark-small">
                                        Пишитие, пожалуйста с 9 до 20 в вайбер на номер телфона, укакзанный в контактах. Я люблю пельмени. Я работал с этой компанией 10 лет, все очень круто, парни молодцы!
                                    </div>
                                    <div class="flex">
                                    <div class="read-reviews">Читать&nbspвсе&nbspотзывы</div>
                                    <div class="write-reviews">Написать&nbspотзыв</div>
                                </div>
                                </div>
                                </div>
                                </div>
                            </div>
                        </div>
                      </div>


                        <div class="container">
                            <h2 class="main-title">
                                    Компании
                                </h2>
                            <div style="margin-bottom: 25px;" class="profile-user-small">

                                <div class="profile-user-left">
                                    <div class="profile-user__logo-small"></div>
                                </div>
                            <div class="profile-user-right">
                                <h1 class="profile-user__name-small">{{company.owner.first_name}} {{company.owner.last_name}}</h1>
                                <div class="city-info-small">
                                    <span class="profile-user__city-small">Город:&nbsp</span>
                                    <span class="profile-user__city__name-small">{{company.owner.profile_set.all.0.city.city}}</span>
                                </div>
                                <div class="profile__remark-small">
                                    {{company.owner.bio}}
                                </div>
                            </div>
                        </div>

                        <div class="profile-user__mail">
                            <p class="user__mail">{{company.owner.email}}</p>
                        </div>
                            {% if company.owner.profile_set.all.0.phone_num_show %}
                        <div class="profile-user__phone">
                            <p class="user__phone"> {{company.owner.profile_set.all.0.phone_num}}</p>
                            <div class="user__phone__logo"></div>
                        </div>
                            {% endif %}

                        </div>

                </section>





                <section>
                    <div class="container">
                        <div class="flex-32">
                        <p class="main-title">
                            Компании
                        </p>
                        <p class="add-offer">Добавить предложение</p>
                    </div>
                        <div class="pop-up">
                            <div class="pop-up-arrow"></div>
                            <p class="p-pop-up">Пожалуйста, выберите компанию, от лица которой Вы хотите создать предложение</p>
                        </div>
                        <!-- <div class="row" data-masonry='{"percentPosition": true }'
                        style="position: relative;"> -->
                        <div class="card-container">




                        <div class="company-card">
                            <div class="company-card-top">
                                <div class="company-card-logo"></div>
                                <p class="company-card-name">Компания 2</p>
                            </div>
                            <hr class="card-hr-solid">
                            <div class="company-card-main">
                                <div class="company-content-left">
                                    <div class="">
                                        <p class="company-key">Ниша</p>
                                        <p class="company-value">Консалтинг в строительстве и садоводстве</p>
                                        <p class="company-key">Услуга</p>
                                        <p class="company-value no-bottom">Стрижка </p>

                                    </div>
                                </div>
                                <!-- <div class="hr-solid-vertical"></div> -->
                                <div class="company-content-right">
                                    <div class="flex-content-no-gap">
                                        <div class="">
                                        <p class="company-key">Количество купонов</p>
                                        <p class="company-value">От 100 до 250</p>
                                        </div>
                                        <div class="">
                                        <p class="company-key">Розничная цена</p>
                                        <p class="company-value no-bottom">10 BYN</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr class="card-hr-solid">

                            <div class="company-card-main company-card-main-bottom">
                                <div class="company-content-left">
                                    <div class=>
                                        <p class="company-key">Цена купона</p>
                                        <p class="company-value no-bottom">2 BYN</p>

                                    </div>
                                </div>
                                <!-- <div class="hr-solid-vertical"></div> -->
                                <div class="company-content-right">
                                    <div class="flex-content-no-gap">
                                        <button style="margin-top: -2px;" class="button">
                                            <p class="button-p">Посмотреть вложения</p>
                                        </button>
                                    </div>
                                </div>

                            </div>

                            <hr style = 'margin-bottom: 20px' class="card-hr-solid ">
                            <div class="company-card-contacts">
                                <p class="contacts">Контакты</p>
                                <div class="div-flex">
                                    <div class="contacts-flex">
                                        <p class="contacts-mail">rararara@gmail.com</p>
                                        <p class="contacts-phone">+375 29 888 88 88</p>
                                    </div>
                                    <div class="">
                                        <p class="contacts-name">Станислав Брониславович</p>
                                        <p class="contacts-proffesion">— (Директор по закупкам)</p>
                                    </div>
                            </div>
                            <hr class="hr-solid">

                            </div>
                            <div class="company-card-buttons">
                                <button class="button button-282px">
                                    <p class="button-p">Посмотреть вложения</p>
                                </button>
                                <button class="button button-282px">
                                    <p class="button-p">Редактировать предложение</p>
                                </button>
                            </div>
                        </div>

                        <div class="company-card">
                            <div class="company-card-top">
                                <div class="company-card-logo"></div>
                                <p class="company-card-name">Компания 2</p>
                            </div>
                            <hr class="card-hr-solid">
                            <div class="company-card-main">
                                <div class="company-content-left">
                                    <div class="">
                                        <p class="company-key">Ниша</p>
                                        <p class="company-value">Консалтинг  adfs adsf adsf  ffsfsdf sd fasf a asdf</p>
                                        <p class="company-key">Услуга</p>
                                        <p class="company-value no-bottom">Стрижка ногтей asdklfkjasdl kasdlkfj asld fjlasd flkasjjlf skjd fjas dk fjas</p>

                                    </div>
                                </div>
                                <!-- <div class="hr-solid-vertical"></div> -->
                                <div class="company-content-right">
                                    <div class="flex-content-no-gap">
                                        <div class="">
                                        <p class="company-key">Количество купонов</p>
                                        <p class="company-value">От 100 до 250</p>
                                        </div>
                                        <div class="">
                                        <p class="company-key">Розничная цена</p>
                                        <p class="company-value no-bottom">10 BYN</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr class="card-hr-solid">

                            <div class="company-card-main company-card-main-bottom">
                                <div class="company-content-left">
                                    <div class=>
                                        <p class="company-key">Цена купона</p>
                                        <p class="company-value no-bottom">2 BYN</p>

                                    </div>
                                </div>
                                <!-- <div class="hr-solid-vertical"></div> -->
                                <div class="company-content-right">
                                    <div class="flex-content-no-gap">
                                        <button style="margin-top: -2px;" class="button">
                                            <p class="button-p">Посмотреть вложения</p>
                                        </button>
                                    </div>
                                </div>

                            </div>

                            <hr style = 'margin-bottom: 20px' class="card-hr-solid ">
                            <div class="company-card-contacts">
                                <p class="contacts">Контакты</p>
                                <div class="div-flex">

                                <p style ='margin-bottom: 8px' class="contacts-mail">rararara@gmail.com</p>
                                <p style ='margin-bottom: 12px'class="contacts-phone">+375 29 888 88 88</p>

                                <div class="">
                                <p class="contacts-name">Станислав Брониславович</p>
                                <p class="contacts-proffesion">— (Директор по закупкам)</p>
                                </div>
                            </div>
                            <hr class="hr-solid">

                            </div>
                            <div class="company-card-buttons">
                                <button class="button button-282px">
                                    <p class="button-p">Посмотреть вложения</p>
                                </button>
                                <button class="button button-282px">
                                    <p class="button-p">Редактировать предложение</p>
                                </button>
                            </div>
                        </div>

                        <div class="company-card">
                            <div class="company-card-top">
                                <div class="company-card-logo"></div>
                                <p class="company-card-name">Компания 2</p>
                            </div>
                            <hr class="card-hr-solid">
                            <div class="company-card-main">
                                <div class="company-content-left">
                                    <div class="">
                                        <p class="company-key">Ниша</p>
                                        <p class="company-value">Консалтинг  adfs adsf adsf  ffsfsdf sd fasf a asdf  as df a  sdf s f sdfsadfa </p>
                                        <p class="company-key">Услуга</p>
                                        <p class="company-value no-bottom">Стрижка ногтей asdklfkjasdl kasdlkfj asld fjlasd flkasjjlf skjd fjas dk fjas</p>

                                    </div>
                                </div>
                                <!-- <div class="hr-solid-vertical"></div> -->
                                <div class="company-content-right">
                                    <div class="flex-content-no-gap">
                                        <div class="">
                                        <p class="company-key">Количество купонов</p>
                                        <p class="company-value">От 100 до 250</p>
                                        </div>
                                        <div class="">
                                        <p class="company-key">Розничная цена</p>
                                        <p class="company-value no-bottom">10 BYN</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr class="card-hr-solid">

                            <div class="company-card-main company-card-main-bottom">
                                <div class="company-content-left">
                                    <div class=>
                                        <p class="company-key">Цена купона</p>
                                        <p class="company-value no-bottom">2 BYN</p>

                                    </div>
                                </div>
                                <!-- <div class="hr-solid-vertical"></div> -->
                                <div class="company-content-right">
                                    <div class="flex-content-no-gap">
                                        <button style="margin-top: -2px;" class="button">
                                            <p class="button-p">Посмотреть вложения</p>
                                        </button>
                                    </div>
                                </div>

                            </div>

                            <hr style = 'margin-bottom: 20px' class="card-hr-solid ">
                            <div class="company-card-contacts">
                                <p class="contacts">Контакты</p>
                                <div class="div-flex">

                                <p style ='margin-bottom: 8px' class="contacts-mail">rararara@gmail.com</p>
                                <p style ='margin-bottom: 12px'class="contacts-phone">+375 29 888 88 88</p>

                                <div class="">
                                <p class="contacts-name">Станислав Брониславович</p>
                                <p class="contacts-proffesion">— (Директор по закупкам)</p>
                                </div>
                            </div>
                            <hr class="hr-solid">

                            </div>
                            <div class="company-card-buttons">
                                <button class="button button-282px">
                                    <p class="button-p">Посмотреть вложения</p>
                                </button>
                                <button class="button button-282px">
                                    <p class="button-p">Редактировать предложение</p>
                                </button>
                            </div>
                        </div>

                        <div class="company-card">
                            <div class="company-card-top">
                                <div class="company-card-logo"></div>
                                <p class="company-card-name">Компания 2</p>
                            </div>
                            <hr class="card-hr-solid">
                            <div class="company-card-main">
                                <div class="company-content-left">
                                    <div class="">
                                        <p class="company-key">Ниша</p>
                                        <p class="company-value">Консалтинг  adfs adsf adsf  ffsfsdf sd fasf a asdf  as df a  sdf s f sdfsadfa </p>
                                        <p class="company-key">Услуга</p>
                                        <p class="company-value no-bottom">Стрижка ногтей asdklfkjasdl kasdlkfj </p>

                                    </div>
                                </div>
                                <!-- <div class="hr-solid-vertical"></div> -->
                                <div class="company-content-right">
                                    <div class="flex-content-no-gap">
                                        <div class="">
                                        <p class="company-key">Количество купонов</p>
                                        <p class="company-value">От 100 до 250</p>
                                        </div>
                                        <div class="">
                                        <p class="company-key">Розничная цена</p>
                                        <p class="company-value no-bottom">10 BYN</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr class="card-hr-solid">

                            <div class="company-card-main company-card-main-bottom">
                                <div class="company-content-left">
                                    <div class=>
                                        <p class="company-key">Цена купона</p>
                                        <p class="company-value no-bottom">2 BYN</p>

                                    </div>
                                </div>
                                <!-- <div class="hr-solid-vertical"></div> -->
                                <div class="company-content-right">
                                    <div class="flex-content-no-gap">
                                        <button style="margin-top: -2px;" class="button">
                                            <p class="button-p">Посмотреть вложения</p>
                                        </button>
                                    </div>
                                </div>

                            </div>

                            <hr style = 'margin-bottom: 20px' class="card-hr-solid ">
                            <div class="company-card-contacts">
                                <p class="contacts">Контакты</p>
                                <div class="div-flex">

                                <p style ='margin-bottom: 8px' class="contacts-mail">rararara@gmail.com</p>
                                <p style ='margin-bottom: 12px'class="contacts-phone">+375 29 888 88 88</p>

                                <div class="">
                                <p class="contacts-name">Станислав Брониславович</p>
                                <p class="contacts-proffesion">— (Директор по закупкам)</p>
                                </div>
                            </div>
                            <hr class="hr-solid">

                            </div>
                            <div class="company-card-buttons">
                                <button class="button button-282px">
                                    <p class="button-p">Посмотреть вложения</p>
                                </button>
                                <button class="button button-282px">
                                    <p class="button-p">Редактировать предложение</p>
                                </button>
                            </div>
                        </div>

                        <div class="company-card">
                            <div class="company-card-top">
                                <div class="company-card-logo"></div>
                                <p class="company-card-name">Компания 2</p>
                            </div>
                            <hr class="card-hr-solid">
                            <div class="company-card-main">
                                <div class="company-content-left">
                                    <div class="">
                                        <p class="company-key">Ниша</p>
                                        <p class="company-value">Консалтинг </p>
                                        <p class="company-key">Услуга</p>
                                        <p class="company-value no-bottom">Стрижка  adf asdf asdfadf asdf a</p>

                                    </div>
                                </div>
                                <!-- <div class="hr-solid-vertical"></div> -->
                                <div class="company-content-right">
                                    <div class="flex-content-no-gap">
                                        <div class="">
                                        <p class="company-key">Количество купонов</p>
                                        <p class="company-value">От 100 до 250</p>
                                        </div>
                                        <div class="">
                                        <p class="company-key">Розничная цена</p>
                                        <p class="company-value no-bottom">10 BYN</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr class="card-hr-solid">

                            <div class="company-card-main company-card-main-bottom">
                                <div class="company-content-left">
                                    <div class=>
                                        <p class="company-key">Цена купона</p>
                                        <p class="company-value no-bottom">2 BYN</p>

                                    </div>
                                </div>
                                <!-- <div class="hr-solid-vertical"></div> -->
                                <div class="company-content-right">
                                    <div class="flex-content-no-gap">
                                        <button style="margin-top: -2px;" class="button">
                                            <p class="button-p">Посмотреть вложения</p>
                                        </button>
                                    </div>
                                </div>

                            </div>

                            <hr style = 'margin-bottom: 20px' class="card-hr-solid ">
                            <div class="company-card-contacts">
                                <p class="contacts">Контакты</p>
                                <div class="div-flex">

                                <p style ='margin-bottom: 8px' class="contacts-mail">rararara@gmail.com</p>
                                <p style ='margin-bottom: 12px'class="contacts-phone">+375 29 888 88 88</p>

                                <div class="">
                                <p class="contacts-name">Станислав Брониславович</p>
                                <p class="contacts-proffesion">— (Директор по закупкам)</p>
                                </div>
                            </div>
                            <hr class="hr-solid">

                            </div>
                            <div class="company-card-buttons">
                                <button class="button button-282px">
                                    <p class="button-p">Посмотреть вложения</p>
                                </button>
                                <button class="button button-282px">
                                    <p class="button-p">Редактировать предложение</p>
                                </button>
                            </div>
                        </div>

                        <div class="company-card">
                            <div class="company-card-top">
                                <div class="company-card-logo"></div>
                                <p class="company-card-name">Компания 3</p>
                            </div>
                            <hr class="card-hr-solid">
                            <div class="company-card-main">
                                <div class="company-content-left">
                                    <div class="">
                                        <p class="company-key">Ниша</p>
                                        <p class="company-value">Консалтинг в строительстве </p>
                                        <p class="company-key">Услуга</p>
                                        <p class="company-value no-bottom">Стрижка ногтей собакам и котам и верблюдам и</p>

                                    </div>
                                </div>
                                <!-- <div class="hr-solid-vertical"></div> -->
                                <div class="company-content-right">
                                    <div class="flex-content-no-gap">
                                        <div class="">
                                        <p class="company-key">Количество купонов</p>
                                        <p class="company-value">От 100 до 250</p>
                                        </div>
                                        <div class="">
                                        <p class="company-key">Розничная цена</p>
                                        <p class="company-value no-bottom">10 BYN</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr class="card-hr-solid">

                            <div class="company-card-main company-card-main-bottom">
                                <div class="company-content-left">
                                    <div class=>
                                        <p class="company-key">Цена купона</p>
                                        <p class="company-value no-bottom">2 BYN</p>

                                    </div>
                                </div>
                                <!-- <div class="hr-solid-vertical"></div> -->
                                <div class="company-content-right">
                                    <div class="flex-content-no-gap">
                                        <button style="margin-top: -2px;" class="button">
                                            <p class="button-p">Посмотреть вложения</p>
                                        </button>
                                    </div>
                                </div>

                            </div>

                            <hr style = 'margin-bottom: 20px' class="card-hr-solid ">
                            <div class="company-card-contacts">
                                <p class="contacts">Контакты</p>
                                <div class="div-flex">

                                <p style ='margin-bottom: 8px' class="contacts-mail">rararara@gmail.com</p>
                                <p style ='margin-bottom: 12px'class="contacts-phone">+375 29 888 88 88</p>

                                <div class="">
                                <p class="contacts-name">Станислав Брониславович</p>
                                <p class="contacts-proffesion">— (Директор по закупкам)</p>
                                </div>
                            </div>
                            <hr class="hr-solid">

                            </div>
                            <div class="company-card-buttons">
                                <button class="button button-282px">
                                    <p class="button-p">Посмотреть вложения</p>
                                </button>
                                <button class="button button-282px">
                                    <p class="button-p">Редактировать предложение</p>
                                </button>
                            </div>
                        </div>

                        <div class="company-card">
                            <div class="company-card-top">
                                <div class="company-card-logo"></div>
                                <p class="company-card-name">Компания 1</p>
                            </div>
                            <hr class="card-hr-solid">
                            <div class="company-card-main">
                                <div class="company-content-left">
                                    <div class="">
                                        <p class="company-key">Ниша</p>
                                        <p class="company-value">Консалтинг в строительстве и садоводстве</p>
                                        <p class="company-key">Услуга</p>
                                        <p class="company-value no-bottom">Стрижка ногтей собакам и котам и верблюдам и</p>

                                    </div>
                                </div>
                                <!-- <div class="hr-solid-vertical"></div> -->
                                <div class="company-content-right">
                                    <div class="flex-content-no-gap">
                                        <div class="">
                                        <p class="company-key">Количество купонов</p>
                                        <p class="company-value">От 100 до 250</p>
                                        </div>
                                        <div class="">
                                        <p class="company-key">Розничная цена</p>
                                        <p class="company-value no-bottom">10 BYN</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr class="card-hr-solid">

                            <div class="company-card-main company-card-main-bottom">
                                <div class="company-content-left">
                                    <div class=>
                                        <p class="company-key">Цена купона</p>
                                        <p class="company-value no-bottom">2 BYN</p>

                                    </div>
                                </div>
                                <!-- <div class="hr-solid-vertical"></div> -->
                                <div class="company-content-right">
                                    <div class="flex-content-no-gap">
                                        <button style="margin-top: -2px;" class="button">
                                            <p class="button-p">Посмотреть вложения</p>
                                        </button>
                                    </div>
                                </div>

                            </div>

                            <hr style = 'margin-bottom: 20px' class="card-hr-solid ">
                            <div class="company-card-contacts">
                                <p class="contacts">Контакты</p>
                                <div class="div-flex">

                                <p style ='margin-bottom: 8px' class="contacts-mail">rararara@gmail.com</p>
                                <p style ='margin-bottom: 12px'class="contacts-phone">+375 29 888 88 88</p>

                                <div class="">
                                <p class="contacts-name">Станислав Брониславович</p>
                                <p class="contacts-proffesion">— (Директор по закупкам)</p>
                                </div>
                            </div>
                            <hr class="hr-solid">

                            </div>
                            <div class="company-card-buttons">
                                <button class="button button-282px">
                                    <p class="button-p">Посмотреть вложения</p>
                                </button>
                                <button class="button button-282px">
                                    <p class="button-p">Редактировать предложение</p>
                                </button>
                            </div>
                        </div>

                        <div class="company-card">
                            <div class="company-card-top">
                                <div class="company-card-logo"></div>
                                <p class="company-card-name">Компания 4</p>
                            </div>
                            <hr class="card-hr-solid">
                            <div class="company-card-main">
                                <div class="company-content-left">
                                    <div class="">
                                        <p class="company-key">Ниша</p>
                                        <p class="company-value">Консалтинг в строительстве и садоводстве</p>
                                        <p class="company-key">Услуга</p>
                                        <p class="company-value no-bottom">Стрижка ногтей собакам и котам и верблюдам и f asdf asdf asd fasdf as</p>

                                    </div>
                                </div>
                                <!-- <div class="hr-solid-vertical"></div> -->
                                <div class="company-content-right">
                                    <div class="flex-content-no-gap">
                                        <div class="">
                                        <p class="company-key">Количество купонов</p>
                                        <p class="company-value">От 100 до 250</p>
                                        </div>
                                        <div class="">
                                        <p class="company-key">Розничная цена</p>
                                        <p class="company-value no-bottom">10 BYN</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr class="card-hr-solid">

                            <div class="company-card-main company-card-main-bottom">
                                <div class="company-content-left">
                                    <div class=>
                                        <p class="company-key">Цена купона</p>
                                        <p class="company-value no-bottom">2 BYN</p>

                                    </div>
                                </div>
                                <!-- <div class="hr-solid-vertical"></div> -->
                                <div class="company-content-right">
                                    <div class="flex-content-no-gap">
                                        <button style="margin-top: -2px;" class="button">
                                            <p class="button-p">Посмотреть вложения</p>
                                        </button>
                                    </div>
                                </div>

                            </div>

                            <hr style = 'margin-bottom: 20px' class="card-hr-solid ">
                            <div class="company-card-contacts">
                                <p class="contacts">Контакты</p>
                                <div class="div-flex">

                                <p style ='margin-bottom: 8px' class="contacts-mail">rararara@gmail.com</p>
                                <p style ='margin-bottom: 12px'class="contacts-phone">+375 29 888 88 88</p>

                                <div class="">
                                <p class="contacts-name">Станислав Брониславович</p>
                                <p class="contacts-proffesion">— (Директор по закупкам)</p>
                                </div>
                            </div>
                            <hr class="hr-solid">

                            </div>
                            <div class="company-card-buttons">
                                <button class="button button-282px">
                                    <p class="button-p">Посмотреть вложения</p>
                                </button>
                                <button class="button button-282px">
                                    <p class="button-p">Редактировать предложение</p>
                                </button>
                            </div>
                        </div>



                        <div class="company-card">
                            <div class="company-card-top">
                                <div class="company-card-logo"></div>
                                <p class="company-card-name">Компания 4</p>
                            </div>
                            <hr class="card-hr-solid">
                            <div class="company-card-main">
                                <div class="company-content-left">
                                    <div class="">
                                        <p class="company-key">Ниша</p>
                                        <p class="company-value">Консалтинг в строительстве и садоводстве</p>
                                        <p class="company-key">Услуга</p>
                                        <p class="company-value no-bottom">Стрижка ногтей собакам и котам и верблюдам и</p>

                                    </div>
                                </div>
                                <!-- <div class="hr-solid-vertical"></div> -->
                                <div class="company-content-right">
                                    <div class="flex-content-no-gap">
                                        <div class="">
                                        <p class="company-key">Количество купонов</p>
                                        <p class="company-value">От 100 до 250</p>
                                        </div>
                                        <div class="">
                                        <p class="company-key">Розничная цена</p>
                                        <p class="company-value no-bottom">10 BYN</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr class="card-hr-solid">

                            <div class="company-card-main company-card-main-bottom">
                                <div class="company-content-left">
                                    <div class=>
                                        <p class="company-key">Цена купона</p>
                                        <p class="company-value no-bottom">2 BYN</p>

                                    </div>
                                </div>
                                <!-- <div class="hr-solid-vertical"></div> -->
                                <div class="company-content-right">
                                    <div class="flex-content-no-gap">
                                        <button style="margin-top: -2px;" class="button">
                                            <p class="button-p">Посмотреть вложения</p>
                                        </button>
                                    </div>
                                </div>

                            </div>

                            <hr style = 'margin-bottom: 20px' class="card-hr-solid ">
                            <div class="company-card-contacts">
                                <p class="contacts">Контакты</p>
                                <div class="div-flex">

                                <p style ='margin-bottom: 8px' class="contacts-mail">rararara@gmail.com</p>
                                <p style ='margin-bottom: 12px'class="contacts-phone">+375 29 888 88 88</p>

                                <div class="">
                                <p class="contacts-name">Станислав Брониславович</p>
                                <p class="contacts-proffesion">— (Директор по закупкам)</p>
                                </div>
                            </div>
                            <hr class="hr-solid">

                            </div>
                            <div class="company-card-buttons">
                                <button class="button button-282px">
                                    <p class="button-p">Посмотреть вложения</p>
                                </button>
                                <button class="button button-282px">
                                    <p class="button-p">Редактировать предложение</p>
                                </button>
                            </div>
                        </div>

                        <div class="company-card">
                            <div class="company-card-top">
                                <div class="company-card-logo"></div>
                                <p class="company-card-name">Компания 4</p>
                            </div>
                            <hr class="card-hr-solid">
                            <div class="company-card-main">
                                <div class="company-content-left">
                                    <div class="">
                                        <p class="company-key">Ниша</p>
                                        <p class="company-value">Консалтинг в строительстве и садоводстве</p>
                                        <p class="company-key">Услуга</p>
                                        <p class="company-value no-bottom">Стрижка ногтей собакам и котам и верблюдам и</p>

                                    </div>
                                </div>
                                <!-- <div class="hr-solid-vertical"></div> -->
                                <div class="company-content-right">
                                    <div class="flex-content-no-gap">
                                        <div class="">
                                        <p class="company-key">Количество купонов</p>
                                        <p class="company-value">От 100 до 250</p>
                                        </div>
                                        <div class="">
                                        <p class="company-key">Розничная цена</p>
                                        <p class="company-value no-bottom">10 BYN</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr class="card-hr-solid">

                            <div class="company-card-main company-card-main-bottom">
                                <div class="company-content-left">
                                    <div class=>
                                        <p class="company-key">Цена купона</p>
                                        <p class="company-value no-bottom">2 BYN</p>

                                    </div>
                                </div>
                                <!-- <div class="hr-solid-vertical"></div> -->
                                <div class="company-content-right">
                                    <div class="flex-content-no-gap">
                                        <button style="margin-top: -2px;" class="button">
                                            <p class="button-p">Посмотреть вложения</p>
                                        </button>
                                    </div>
                                </div>

                            </div>

                            <hr style = 'margin-bottom: 20px' class="card-hr-solid ">
                            <div class="company-card-contacts">
                                <p class="contacts">Контакты</p>
                                <div class="div-flex">

                                <p style ='margin-bottom: 8px' class="contacts-mail">rararara@gmail.com</p>
                                <p style ='margin-bottom: 12px'class="contacts-phone">+375 29 888 88 88</p>

                                <div class="">
                                <p class="contacts-name">Станислав Брониславович</p>
                                <p class="contacts-proffesion">— (Директор по закупкам)</p>
                                </div>
                            </div>
                            <hr class="hr-solid">

                            </div>
                            <div class="company-card-buttons">
                                <button class="button button-282px">
                                    <p class="button-p">Посмотреть вложения</p>
                                </button>
                                <button class="button button-282px">
                                    <p class="button-p">Редактировать предложение</p>
                                </button>
                            </div>
                        </div>

                    </div>

                    </div>
                </section>

            </div>
        </div>
        </main>
        <footer class="footer">
            <div class="footer-container">
                <hr class="hr-solid mg-bottom-48px">
                <div class="footer-content">
                    <div class="footer-logo">
                        <a href="#" class="nav-log__title">КроссМ</a>
                    </div>
                    <div class="footer-arrow">
                        <div class="test-arrow">
                            <hr class="hr-solid-arrow">
                        </div>

                    </div>
                    <div class="footer-nav">
                    <div class="footer-top-titles">
                        <span class="nav-menu__title">Каталог</span>
                        <span class="nav-menu__title">Что&nbspтакое&nbspКМ?</span>
                        <span class="nav-menu__title">Мои&nbspпредложения</span>
                    </div>

                    </div>
                </div>
                <p class="nav-menu__title policy">Политика конфиденциальности</p>
                <div class="footer-contacts">
                    <p class="prava">Все права защищены @2023</p>
                    <p class="developer">Сайт разработан командой Старрук инк :)</p>
                </div>
            </div>
        </footer>
        <!-- <div class="bottom-margin"></div> -->
    </body>
{% endblock %}
</html>